/*--- taxonomy subcategory banners ---*/

.view-taxonomy-term .taxonomy-subcategory-icon,

.taxonomy-subcategory-blog {

  margin-bottom: 20px;

}

.view-taxonomy-term .taxonomy-subcategory-icon .views-row,

.taxonomy-subcategory-blog .views-row {

  width: 360px;

  height: 190px;

  margin: 0 15px 15px 0;

  float: left;

  position: relative;

}

.view-taxonomy-term .taxonomy-subcategory-icon .views-row.views-row-even,

.taxonomy-subcategory-blog .views-row.views-row-even {

  margin-right: 0;

}

.view-taxonomy-term .taxonomy-subcategory-icon .views-row .views-field-field-category-img a {

  display: block;

  width: 100%;

  height: 100%;

}

.view-taxonomy-term .taxonomy-subcategory-icon .views-row .views-field-name a {

  display: block;

  position: absolute;

  top: 70px;

  right: 10px;

  width: 250px;

  color: #63b31d;

  font-family: 'Lobster', cursive;

  font-size: 30px;

  text-align: center;

  text-shadow: 1px 1px 2px #266806, -1px -1px 1px #fff;

}

.view-taxonomy-term .taxonomy-subcategory-icon .views-row .views-field-name a:hover {

  text-decoration: none;

}



/*--- main menu ---*/

.region-header {

  position: relative;

  z-index: 500;

}



.block-main-menu .tb-megamenu .tb-megamenu-row div.sub-sub-level {

  display: none;

}



.block-main-menu .tb-megamenu .tb-megamenu-row div.level-1-1,

.block-main-menu .tb-megamenu .tb-megamenu-row div.level-2-1,

.block-main-menu .tb-megamenu .tb-megamenu-row div.level-3-1,

.block-main-menu .tb-megamenu .tb-megamenu-row div.level-4-1,

.block-main-menu .tb-megamenu .tb-megamenu-row div.level-5-1,

.block-main-menu .tb-megamenu .tb-megamenu-row div.level-6-1,

.block-main-menu .tb-megamenu .tb-megamenu-row div.level-7-1 {

  display: block;

}



/*--- General layout ---*/

#header { /*TODO: style: 69*/

  position: relative;

  /*z-index: 20;*/

}