/*--- product page ---*/
.not-front.node-type-product .region-content {
    background: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 0;
}

.ui-tabs .ui-tabs-nav li a {
    font-size: 14px;
    text-transform: uppercase;
}

.node-type-product .ui-tabs-panel.ui-widget-content {
  padding: 17px;
  min-height: 385px;
}

/*jcarousel*/
.field-slideshow-carousel-wrapper {
    z-index: 10;
}

.item-list ul li {
    margin: 0;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-container-vertical {
    padding: 0;
}

.product-page-style .field-slideshow-wrapper {
    position: relative;
    width: 300px;
    float: left;
}
.product-page-style .field-slideshow-wrapper .field-slideshow {
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.product-page-style .jcarousel-skin-ie7 {
    position: absolute;
    right: 0;
    top: 0;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-item a,
.product-page-style .jcarousel-skin-ie7 .jcarousel-item img {
    display: block;
    width: 60px;
    height: 60px !important;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-item {
    width: 60px;
    height: 60px !important;
    margin-left: 1px;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-clip-vertical {
    /*height: 345px;*/
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-container-vertical {
    width: 64px;
    height: 348px;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-clip-vertical {
    width: 64px;
    height: 332px;
    margin-top: 25px;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-next-vertical, .jcarousel-skin-ie7 .jcarousel-prev-vertical {
    background: url(../images/nav_jcarousel.png) 0 0 no-repeat;
    width: 19px;
    height: 11px;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-next-vertical {
    background-position: 0 -16px;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-container {
    background: none;
    border: none;
    border-radius: 0;
}

.product-page-style .jcarousel-skin-ie7 .jcarousel-next-vertical:hover,
.product-page-style .jcarousel-skin-ie7 .jcarousel-next-vertical:focus {
    background-position: 0 -16px;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-prev-vertical:hover,
.product-page-style .jcarousel-skin-ie7 .jcarousel-prev-vertical:focus {
    background: url(../images/nav_jcarousel.png) 0 0 no-repeat;
}

/*.product-page-style .jcarousel-skin-ie7 .item-list{
    padding: 25px 0;
}*/


.product-page-style .jcarousel-skin-ie7 .jcarousel-prev-vertical {
    left: 19px;
    top: -20px;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-next-vertical {
    left: 23px;
    bottom: 0;
}

.product-page-style .jcarousel-item ,
.product-page-style .jcarousel-item img {
    border-radius: 8px;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-item {
    opacity: 1;
    border: none;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    position: relative;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-item a {
    position: relative;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-item:hover,
.product-page-style .jcarousel-skin-ie7 .jcarousel-item:focus{
    border: none;
}
.product-page-style .jcarousel-skin-ie7 .jcarousel-item.activeSlide a:before,
.product-page-style .jcarousel-skin-ie7 .jcarousel-item:hover a:before,
.product-page-style .jcarousel-skin-ie7 .jcarousel-item:focus a:before{
    content: '';
    display: block;
    width: 57px;
    height: 57px;
    border:2px solid #86b149;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    background: none;
}
#cboxWrapper .product-page-style .views-field-title {
    display: inline-block;
    width: 300px;
}
.product-page-style {
    position: relative;
    padding-bottom: 15px;
    overflow: hidden;
}
#cboxWrapper .product-page-style {
    padding-bottom: 75px;
}
#cboxWrapper #cboxLoadedContent {
    position: relative;
}
#cboxWrapper .product-page-style {
    width: auto;
}
.product-page-style .views-field-field-product-img {
    float: left;
    margin: 1px 15px 1px 1px;
    margin-right: 15px;
}
.product-page-style .views-field-field-brend-logo,
.product-page-style .views-field-field-product-vote {
    position: absolute;
    right: 2px;
}
.product-page-style .views-field-field-product-vote {
    top: 2px;
}
.product-page-style .views-field-field-brend-logo {
    top: 25px;
}
.product-page-style .views-field-name,
.product-page-style .views-field-field-product-category{
    text-transform: uppercase;
    font-size: 16px;
    color: #86b149;
    padding-right: 120px;
    overflow: hidden;
}

.product-page-style .views-field-field-product-category a {
    color: #86b149;
}

.view-display-id-page_1.product-page-style .views-field-sku .views-label,
.view-display-id-page_1.product-page-style .views-field-field-product-brand .views-label,
.view-display-id-page_1.product-page-style .views-field-field-products-country .views-label,
.view-display-id-block_1.product-page-style .views-field-sku .views-label,
.view-display-id-block_1.product-page-style .views-field-field-product-brand .views-label,
.view-display-id-block_1.product-page-style .views-field-field-products-country .views-label {
    width: 80px;
    float: left;
}
.product-page-style .views-field-sku {
    margin-top: 15px;
}
.product-page-style .views-field-field-products-country {
    margin-bottom: 15px;
}
.product-page-style .views-field-view-node,
.product-page-style .views-field-nothing {
    float: right;
}
.product-page-style .views-field-view-node a,
.product-page-style .views-field-nothing a {
    text-transform: uppercase;
    text-decoration: underline;
    color: #06b7ed;
    font-size: 14px;
}
.product-page-style .views-field-add-to-cart-form,
.view-display-id-block_1.product-page-style .views-field-php,
.view-display-id-page_1.product-page-style .views-field-php,
.product-page-style .click {
    position: absolute;
    right: 2px;
    text-align: center;
    height: 40px;
}
.product-page-style .views-field-add-to-cart-form .form-submit,
.product-page-style .views-field-php .flag,
.product-page-style .click a {
    border-radius: 5px;
    width: 205px;
    font-style: italic;
    padding: 10px 0;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
}
.product-page-style .views-field-add-to-cart-form .form-submit:hover,
.product-page-style .views-field-php .flag:hover,
.product-page-style .click a:hover {
    text-decoration: none;
}
.product-page-style .views-field-add-to-cart-form {
    bottom: 145px;
}
.product-page-style .views-field-add-to-cart-form .form-submit {
    background: #63b31d;
    box-shadow: 1px 1px 1px 1px #266806, -1px -1px 1px 0px #86ce27 inset;
}
.product-page-style .views-field-php {
    bottom: 85px;
}
.product-page-style .views-field-php .flag{
    background: #e8de2e;
    box-shadow: 1px 1px 1px 1px #9c9305, -1px -1px 1px 0px #f0ea3e inset;
}
.product-page-style .click {
    bottom: 30px;
}
.product-page-style .click a {
    background: #8f60e1;
    box-shadow: 1px 1px 1px 1px #4e17ab, -1px -1px 1px 0px #b682eb inset;
}
.product-page-style .views-field-body {
    font-size: 14px;
}
.product-page-style .views-field-status,
.product-page-style .views-field-field-status-customer {
    text-transform: uppercase;
    bottom: 130px;
    font-size: 16px;
    /*color: #e3941c;*/
}
.product-page-style .views-field-status .field-content {
    /*padding-left: 15px;*/
}
.product-page-style .views-field-commerce-price,
.product-page-style .views-field-commerce-price-1,
.product-page-style .views-field-status,
.product-page-style .views-field-field-status-customer {
    position: absolute;
    width: 175px;
    display: block;
    text-align: center;
    right: 220px;
}
.product-page-style .views-field-commerce-price,
.product-page-style .views-field-commerce-price .commerce-price-discont{
    bottom: 70px;
    color: #86b149;
    font-family: 'roboto_condensedlight';
    font-size: 23px;
}
.product-page-style .views-field-commerce-price .commerce-price-discont + .commerce-price,
.commerce-price-discont + .commerce-price {    /*bottom: 72px;*/
    font-size: 14px;
    text-decoration:line-through;
    color: #383838;
}
.view-display-id-block_2.product-page-style .views-field-body {
    float: right;
    width: 550px;
    color: #999999;
}
.product-page-style .views-field-field-product-options {
    height: auto;
    width: 380px;
}
table tr.even {
    background-color: #f5ffe4;
    border-bottom: none;
}
table tr.odd {
    background-color: #fff;
    border-bottom: none;
}
table tr:first-child td,
.product-page-style table tr:first-child td {
    background-color: #fff;
    font-weight: normal;
    text-align: left;
}
table th a {
    color: #05b3eb;
}
table td,
table th,
.product-page-style td,
.product-page-style th {
    font-size: 13px;
    padding: 15px;
}
.view-display-id-block_3.product-page-style .views-field-comments-link,
.view-display-id-block_3.product-page-style .views-field-php-1 {
    position: absolute;
    top: 0;
    right: 0;
}
.view-display-id-block_3.product-page-style .views-field-comments-link a,
.view-display-id-block_3.product-page-style .views-field-php-1 a {
    color: #e59529;
    font-size: 16px;
    text-decoration: underline;
    text-transform: uppercase;
}
.not-logged-in .view-display-id-block_3.product-page-style .views-field-comments-link a,
.not-logged-in .view-display-id-block_3.product-page-style .views-field-php-1 a {
    text-transform: none;
}

.view-display-id-block_3.product-page-style .views-field-nothing {
    float: left;
    border-bottom: 1px solid #cfec9f;
    padding: 0 0 15px;
    margin-bottom: 15px;
    color: #383838;
    font-size: 12px;
    width: 100%;
}
.view-display-id-block_3.product-page-style .views-field-nothing .views-label {
    display: block;
     color: #65b22e;
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.view-display-id-block_3.product-page-style #comments h2.title {
    display: none;
}
.view-display-id-block_3.product-page-style #comments .comment {
    border: none;
}

/* profile */
.profile {
    overflow: hidden;
}
.page-my-tips .region-content,
.page-my-ads .region-content,
.page-bookmarks .region-content,
.page-cart .region-content,
.page-checkout .region-content,
.page-user .region-content {
    background: none repeat scroll 0 0 #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    overflow: hidden;
}
.profile .user_img {
    float: left;
}
.profile .user_img .fieldset-legend {
    display: none;
}
.profile .user_img .form-wrapper {
    width: 190px;
    border: none;
}
.profile .user_img .form-wrapper .form-type-file {
    display: block;
    overflow: hidden;
    clear: both;
}
.profile .user_img .form-wrapper #edit-picture-upload {
    width: 190px;
}
.profile #details {
    position: relative;
    padding-bottom: 15px;
    margin:0 0 20px 200px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}
.profile .edit_profile {
    position: absolute;
    top: 18px;
    right: 15px;
}
.profile #details .page-title {
    margin-bottom: 5px;
}
.profile #details .profil_label {
    margin-bottom: 10px;
}
.profile #details .clearfix:after {
    display: inline;
}
.profile #details .field  {
    margin-bottom: 5px;
}
.profile #details .field-label {
    margin-right: 3px;
}
#block-block-55 {
    float: left;
    width: 200px;
}
.view-id-my_tips.view-display-id-page .view-content,
.view-id-my_ads.view-display-id-page .view-content,
.view-id-commerce_user_orders.view-display-id-order_page .view-content,
.view-id-flag_bookmarks.view-display-id-page .view-content,
.view-id-flag_bookmarks.view-display-id-page .view-filters,
.view-commerce-cart-form .view-content,
.view-id-commerce_cart_summary .view-content {
    overflow: hidden;
}
.profile .bl_left {
    float: left;
}
.profile .bl_left .form-item {
    width: 350px;
}
.profile .bl_right .form-item {
    width: 370px;
}
.profile .bl_left .form-item label {
    width: 100px;
    display: inline-block;
}
.profile .bl_right .form-item-pass-pass2,
.profile .bl_right .form-item-pass-pass1 {
    position: relative;
    height: 70px;
    margin-bottom: 15px;
}
.profile .bl_right .form-item-pass-pass2 div.password-confirm,
.profile .bl_right .form-item-pass-pass1 div.password-strength {
    position: absolute;
    right: 17px;
    bottom: 0;
    width: 220px;
}
.profile .bl_right .form-item label {
    width: 130px;
    display: inline-block;
}
.profile .bl_left .form-item .form-text {
    width: 220px;
}
.profile .bl_right .form-item input {
    width: 200px;
}
.profile .bl_right .password-suggestions.description {
    width: 340px;
}
.profile .bl_left .form-item #edit-field-user-phone-und-0-second {
    width: 170px;
}
.profile .bl_left .form-item #edit-field-user-phone-und-0 {
    display: inline;
}
.profile .bl_right {
    float: right;
}
.profile .bl_btm {
    padding-top: 30px;
    clear: both;
    overflow: hidden;
}
.profile .bl_btm #edit-field-user-city {
    width: 260px;
    float: left;
}
.profile .bl_btm #edit-field-user-city label {
    display: inline-block;
    width: 100px;
}
.profile .bl_btm #edit-field-user-city input {
    width: 130px;
}
.profile .bl_btm #edit-field-address-shipping {
    width: 470px;
    float: right;
}
.profile .bl_btm #edit-field-address-shipping .field-add-more-submit{
    float: right;
}
.profile .bl_btm .form-item td .form-required,
.profile .bl_btm .tabledrag-toggle-weight-wrapper {
    display: none;
}
.profile .bl_btm .field-name-field-address-shipping th {
    padding: 8px 0;
}
.profile .bl_btm .field-name-field-address-shipping td{
    padding: 8px;
}
.profile .bl_btm .field-name-field-address-shipping td.field-multiple-drag {
    width: 10px;
}
.profile .bl_btm .field-name-field-address-shipping td.field-multiple-drag a.tabledrag-handle {
    padding: 0;
    width: 30px;
}
.profile .submit_wrap {
    float: right;
    width: 755px;
    text-align: center;
}
#commerce-checkout-form-checkout #edit-buttons,
#commerce-checkout-form-checkout #edit-cart-contents {
    border: none;
}
#commerce-checkout-form-checkout #edit-buttons .fieldset-legend,
#commerce-checkout-form-checkout #edit-cart-contents .fieldset-legend {
    display: none;
}
#commerce-checkout-form-checkout #edit-buttons .button-operator {
    margin-left: 10px;
}
#node-140 #webform-component-operator select,
#edit-field-user-phone-und-0-first,
#edit-commerce-fieldgroup-pane-group-profile-field-order-address-select-und,
#edit-commerce-fieldgroup-pane-group-profile-field-order-phone-und-0-first {
    background: #e9fbcc;
    border: none;
    height: 36px;
}
#edit-field-user-phone-und-0-first,
#edit-commerce-fieldgroup-pane-group-profile-field-order-phone-und-0-first {
    width: 47px;
}
#node-140 .webform-client-form {
    position: relative;
}
#node-140 #webform-component-operator {
    width: 50px;
    position: absolute;
    top: 6px;
    left: 0;
}
#node-140 #webform-component-vvedite-nomer-telefona input.form-text {
    margin-left: 50px;
}
#edit-commerce-fieldgroup-pane-group-profile-field-order-address-select-und {
    width: 395px;
}
.view-id-flag_bookmarks.view-display-id-page .views-field-title {
    padding-left: 120px;
    border-right: 1px solid #cfec9f;
}
.view-id-flag_bookmarks.view-display-id-page .views-field-title .field-slideshow-wrapper {
    float: left;
    margin-left: -110px;
}
.view-id-flag_bookmarks.view-display-id-page .views-field-title h4 {
    margin-bottom: 0;
}
.view-id-flag_bookmarks.view-display-id-page .views-field-add-to-cart-form .flag-bookmarks a,
.view-id-flag_bookmarks.view-display-id-page .views-field-add-to-cart-form .form-submit {
    background: none;
    border: none;
    border-bottom: 1px dashed #05b3eb;
    border-radius: 0;
    color: #05b3eb;
    cursor: pointer;
    font-size: 12px;
    padding: 0;
    margin: 5px 0;
    text-transform: none;
    transition: all 0.3s ease-in-out 0s;
}
.view-id-flag_bookmarks.view-display-id-page .views-field-add-to-cart-form .flag-bookmarks a:hover,
.view-id-flag_bookmarks.view-display-id-page .views-field-add-to-cart-form .form-submit:hover {
    text-decoration: none;
}
#views-exposed-form-flag-bookmarks-page {
    float: right;
}
#views-exposed-form-flag-bookmarks-page label{
    float: left;
    margin-right: 5px;
}
#views-form-commerce-cart-form-default #edit-actions .form-submit{
    margin-left: 10px;
}
#edit-account {
    display: none;
}

/* PRODUCT CAROUSEL  */
.view-id-product_page.view-display-id-block_5 .view-content {
    position: relative;
    min-height: 340px;
}
.view-id-product_page.view-display-id-block_5 .view-header {
    padding-bottom: 15px;
}
.view-id-product_page.view-display-id-block_5 .views-field-name {
    width: 200px;
    padding: 14px 19px;
    text-transform: none;
    color: #668d27;
    cursor: pointer;
}
.view-id-product_page.view-display-id-block_5 .views-row-odd .views-field-name {
    background: #f1f1f1;
}
.view-id-product_page.view-display-id-block_5 .views-row-even .views-field-name {
    background: #f5ffe4;
}
.view-id-product_page.view-display-id-block_5 .views-field-view {
    position: absolute;
    width: 700px;
    top: 0;
    right: 0;
}
.view-id-product_page.view-display-id-block_5 .jcarousel-container {
    width: 592px;
    height: 315px;
    padding: 20px 15px;
  margin: auto;
}
.view-id-product_page.view-display-id-block_5 .jcarousel-clip {
    width: 592px;
}
.view-id-product_page.view-display-id-block_5 .jcarousel-item {
    width: 192px !important;
    height: 315px;
    position: relative;
}
.view-id-product_page.view-display-id-block_5 .jcarousel-item .views-field {
    display: block;
}
.view-display-id-block_5 .jcarousel-skin-default {
  text-align: center;
}
.view-display-id-block_5 .jcarousel-skin-default .field-slideshow {
    margin: 0 auto;
}
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-container-horizontal {
    padding-top: 0;
}
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-next,
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-prev {
    background: url(../images/nav_jcl_product.png) 0 0 no-repeat;
    width: 20px;
    height: 34px;
    z-index: 100;
  display: block;
  position: absolute;
  cursor: pointer;
}
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-prev-horizontal:hover {
    background-position: 0 0;
    opacity: 0.6;
}
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-next-horizontal {
    background-position: 0 -39px;
  top: 136px;
  right: 10px;
}
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-next-horizontal:hover {
    background-position: 0 -39px;
    opacity: 0.6;
}
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-prev-horizontal {
    top: 136px;
    left: 0;
}

/* pop up */
.b-popup{
    width:1000px;
    min-height:100%;
    /*background-color: rgba(0,0,0,0.5);*/
    overflow:hidden;
    display: none;
    position:fixed;
    top:0px;
    z-index: 999;
}
.b-popup .b-popup-content{
    margin:40% auto 0px auto;
    width: 280px;
    height: 135px;
    padding:20px;
    background-color: #fff;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.hide_popup {
    cursor: pointer;
}
