/**
 * Colors
 */
/* line 2, ../sass/partials/components/_better-exposed-filters.scss */
.views-widget-filter-field_type_tid {
  *zoom: 1;
}
/* line 38, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.views-widget-filter-field_type_tid:after {
  content: "";
  display: table;
  clear: both;
}
/* line 4, ../sass/partials/components/_better-exposed-filters.scss */
.views-widget-filter-field_type_tid label {
  display: none;
}
/* line 7, ../sass/partials/components/_better-exposed-filters.scss */
.views-widget-filter-field_type_tid img {
  float: left;
  width: 140px;
  height: auto;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 17px;
}
/* line 15, ../sass/partials/components/_better-exposed-filters.scss */
.views-widget-filter-field_type_tid img:hover {
  border-color: #86b149;
}
/* line 20, ../sass/partials/components/_better-exposed-filters.scss */
.views-widget-filter-field_type_tid .active img {
  border-color: #86b149;
}
/* line 24, ../sass/partials/components/_better-exposed-filters.scss */
.views-widget-filter-field_type_tid .description {
  display: none;
}

/* line 2, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs {
  padding: 0;
  position: relative;
}
/* line 5, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs-tabs {
  border: 0;
  background: #e9fbcc;
  border-radius: 0;
  padding: 0 20px;
}
/* line 10, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs-tabs li {
  display: list-item;
  list-style: none;
  float: left;
  position: relative;
  top: 0;
  border-bottom-width: 0;
  padding: 0;
  white-space: nowrap;
  background: #e9fbcc;
  border: none;
  border-radius: 0;
  border-right: 1px solid #cfec9f;
  margin: 0;
}
/* line 24, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs-tabs li a,
#quicktabs-product_tabs .quicktabs-tabs li a:link,
#quicktabs-product_tabs .quicktabs-tabs li a:visited {
  color: #65b22e;
  padding: 18px 14px;
  float: left;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 34, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs-tabs li.active {
  margin-bottom: 0;
  padding-bottom: 0;
  background: #cfec9f;
  border: none;
  border-radius: 0;
}
/* line 42, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs-tabs:before, #quicktabs-product_tabs .quicktabs-tabs:after {
  content: "";
  display: table;
  border-collapse: collapse;
  height: 0;
}
/* line 49, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs-tabs:after {
  clear: both;
}
/* line 53, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs_main {
  padding: 17px;
  min-height: 385px;
  color: #383838;
  font-size: 14px;
  font-family: 'roboto_condensedregular', sans-serif;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: block;
  border-width: 0;
  background: #fff;
}
/* line 64, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs_main a {
  color: #222;
}
/* line 67, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs_main input {
  font-family: Verdana, Arial, sans-serif;
}
/* line 72, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs_main .view-dom-id-4 ul li {
  background: url(../images/item-foot1.png) no-repeat;
  margin: 15px 0;
  padding: 0 0 0 33px;
  display: table;
}
/* line 81, ../sass/partials/components/_quick_tabs.scss */
#quicktabs-product_tabs .quicktabs_main .views-field-comments-link a {
  color: #e59529;
  font-size: 16px;
  text-decoration: underline;
  text-transform: uppercase;
}

/* line 1, ../sass/partials/components/_menu-sidebar-catalog.scss */
.menu-sidebar-catalog {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 8px 20px;
  position: relative;
  margin-bottom: 20px;
}
/* line 8, ../sass/partials/components/_menu-sidebar-catalog.scss */
.menu-sidebar-catalog .item-menu-sidebar-catalog {
  border-bottom: 1px dashed #c3bdc4;
  padding: 10px 0;
}
/* line 12, ../sass/partials/components/_menu-sidebar-catalog.scss */
.menu-sidebar-catalog .item-menu-sidebar-catalog > .views-field-name a {
  color: #383838;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
}
/* line 20, ../sass/partials/components/_menu-sidebar-catalog.scss */
.menu-sidebar-catalog .item-menu-sidebar-catalog > .item-list ul {
  margin: 10px 0 0 20px;
}
/* line 22, ../sass/partials/components/_menu-sidebar-catalog.scss */
.menu-sidebar-catalog .item-menu-sidebar-catalog > .item-list ul a {
  color: #383838;
  display: inline-block;
  padding: 1px 0;
}
/* line 26, ../sass/partials/components/_menu-sidebar-catalog.scss */
.menu-sidebar-catalog .item-menu-sidebar-catalog > .item-list ul a.active {
  color: #008b3a;
  text-decoration: underline;
}
/* line 33, ../sass/partials/components/_menu-sidebar-catalog.scss */
.menu-sidebar-catalog .item-menu-sidebar-catalog.last {
  border: 0;
}
/* line 38, ../sass/partials/components/_menu-sidebar-catalog.scss */
.menu-sidebar-catalog .item-menu-sidebar-catalog.active-parent > .views-field-name a {
  color: #008b3a;
  text-decoration: underline;
}

/* line 3, ../sass/partials/layout/pages/_catalog_page.scss */
.product-style > .view-content .views-field-title {
  line-height: 1.15em;
}
/* line 6, ../sass/partials/layout/pages/_catalog_page.scss */
.product-style > .view-content .field-slideshow {
  width: 150px;
  height: 150px !important;
  margin: 0 auto 10px;
}
/* line 11, ../sass/partials/layout/pages/_catalog_page.scss */
.product-style > .view-content .views-field-nothing {
  position: absolute;
  top: 175px;
  left: 38px;
  z-index: 52;
  background: rgba(32, 142, 0, 0.7);
  border-radius: 4px;
  width: 130px;
  text-align: center;
  font-size: 12px;
  padding: 5px;
  -moz-box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.5);
  box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.5);
}
/* line 23, ../sass/partials/layout/pages/_catalog_page.scss */
.product-style > .view-content .views-field-nothing a {
  color: #fff;
  text-transform: uppercase;
}

/*Product teaser*/
/* line 31, ../sass/partials/layout/pages/_catalog_page.scss */
.commerce-price,
.commerce-price-discont {
  font-size: 23px;
  color: #e3941c;
  font-family: 'roboto_condensedlight';
  text-decoration: none;
  white-space: nowrap;
}
/* line 39, ../sass/partials/layout/pages/_catalog_page.scss */
.commerce-price.price__item.--byr,
.commerce-price-discont.price__item.--byr {
  color: #999;
  font-size: 0.75em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  line-height: 1.2em;
  text-align: right;
}

/* line 50, ../sass/partials/layout/pages/_catalog_page.scss */
.commerce-price-discont + .commerce-price {
  text-decoration: line-through;
  font-size: 14px;
  color: #383838;
}

/* line 58, ../sass/partials/layout/pages/_catalog_page.scss */
.price__item.--byn {
  ont-size: 23px;
  color: #e3941c;
  font-family: 'roboto_condensedlight';
  text-decoration: none;
  white-space: nowrap;
}
/* line 65, ../sass/partials/layout/pages/_catalog_page.scss */
.price__item.--byr {
  color: #999;
  font-size: 0.75em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  line-height: 1.2em;
  text-align: right;
}

/* line 2, ../sass/partials/layout/pages/_cart.scss */
.commerce-price-savings-formatter-list .price-amount {
  text-align: right;
}

/* line 7, ../sass/partials/layout/pages/_cart.scss */
.commerce-price-savings-formatter-price .price-amount {
  white-space: nowrap;
}
/* line 9, ../sass/partials/layout/pages/_cart.scss */
.commerce-price-savings-formatter-price .price-amount.--byr {
  font-size: 0.86em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  line-height: 1.2em;
  text-align: right;
  color: #666;
}

/* line 19, ../sass/partials/layout/pages/_cart.scss */
.views-field-commerce-total.price {
  font-size: 16px;
  white-space: nowrap;
}
/* line 23, ../sass/partials/layout/pages/_cart.scss */
.views-field-commerce-total.price .price__item.--byr {
  font-size: 0.86em;
  margin-top: -0.5em;
  margin-bottom: -0.5em;
  line-height: 1.2em;
  text-align: right;
  color: #666;
}

/* line 34, ../sass/partials/layout/pages/_cart.scss */
.view-commerce-cart-summary .component-total {
  white-space: nowrap;
}
