@import url(http://fonts.googleapis.com/css?family=Lobster&subset=cyrillic,latin);



@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/roboto_condensed_cyrillic/RobotoCondensed-Regular-webfont.eot');
    src: url('../fonts/roboto_condensed_cyrillic/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_condensed_cyrillic/RobotoCondensed-Regular-webfont.woff') format('woff'),
    url('../fonts/roboto_condensed_cyrillic/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto_condensed_cyrillic/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../fonts/roboto_lightcondensed_cyrillic/RobotoCondensed-Light-webfont.eot');
    src: url('../fonts/roboto_lightcondensed_cyrillic/RobotoCondensed-Light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_lightcondensed_cyrillic/RobotoCondensed-Light-webfont.woff') format('woff'),
    url('../fonts/roboto_lightcondensed_cyrillic/RobotoCondensed-Light-webfont.ttf') format('truetype'),
    url('../fonts/roboto_lightcondensed_cyrillic/RobotoCondensed-Light-webfont.svg#roboto_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('../fonts/roboto_boldcondenseditalic_cyrillic/RobotoCondensed-BoldItalic-webfont.eot');
    src: url('../fonts/roboto_boldcondenseditalic_cyrillic/RobotoCondensed-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto_boldcondenseditalic_cyrillic/RobotoCondensed-BoldItalic-webfont.woff') format('woff'),
    url('../fonts/roboto_boldcondenseditalic_cyrillic/RobotoCondensed-BoldItalic-webfont.ttf') format('truetype'),
    url('../fonts/roboto_boldcondenseditalic_cyrillic/RobotoCondensed-BoldItalic-webfont.svg#roboto_condensedbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?1gwswn');
    src:url('../fonts/icomoon.eot?#iefix1gwswn') format('embedded-opentype'),
    url('../fonts/icomoon.woff?1gwswn') format('woff'),
    url('../fonts/icomoon.ttf?1gwswn') format('truetype'),
    url('../fonts/icomoon.svg?1gwswn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
    content: "\e600";
}
.icon-arrow-up2:before {
    content: "\e601";
}
.icon-arrow-up3:before {
    content: "\e602";
}


* {
    margin: 0;
    padding: 0;
}

input {
    outline: none;
}

*:focus {
    outline: none;
}

:focus {
    outline: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


body {
    background: #f9ffd1 url("../images/background.jpg") fixed center 0 no-repeat;
    font-size: 14px;
    font-family: 'roboto_condensedregular', sans-serif;
    color: #383838;
    background-size: cover;
}
#header {
    font-size: 16px;
    z-index: 200;
}

/*typography*/

h1 {
    font-size: 30px;
    color: #06b7ed;
    margin-bottom: 20px;
    text-align: center;
}
h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-bottom: 10px;
}
h2 {
    font-size: 24px;
    color: #80bd5a;
}
h3, h4 {
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    color: #89c726;
}
h4 {
    font-size: 16px;
    color: #65b22e;
}
h5 {
    font-size: 16px;
}
h6 {
    color: #517e08;
    font-size: 16px;
}
p {
    margin-bottom: 10px;
}
.header-top p, .front #content p {
    margin-bottom: 0;
}
.front h2,
.sidebar h2,
#footer-wrapper h2,
.sidebar h2 a,
.product-style-main-catalog .view-taxonomy-term h2,
.node-type-discounts .region-content h2 {
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-align: center;
    color: #63b31d;
    padding: 10px 0;
    text-shadow: 1px 1px 2px #266806, -1px -1px 1px #fff;
}
#block-views-front-products-block,
#block-views-front-products-block-1 {
    text-align: center;
}
#block-views-front-products-block .content,
#block-views-front-products-block-1 .content {
    text-align: left;
}
#block-views-front-products-block h2,
#block-views-front-products-block-1 h2,
.product-style-main-catalog .hit-style h2 {
    display: inline-block;
    background: url(../images/h2.png) 0 0 no-repeat;
    padding-left: 75px;

}
#block-views-front-products-block h2,
.product-style-main-catalog .hit-style h2 {
    color: #2f7fec;
    text-shadow: 1px 1px 2px #004779;
    background-position: 0 -65px;
    margin-top: 5px;
    margin-right: -120px;
}
#block-views-front-products-block-1 h2 {
    color: #ec352f;
    text-shadow: 1px 1px 2px #9a0005;
    background-position: 0 0;
}

.block .content ul,
.node .content ul,
.block .content ol,
.node .content ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
#qt-product_tabs-ui-tabs4 {

}

.node-page .field-name-body ul li,
.node-page .field-name-body  ol li,
#block-block-56 ul li {
    /*color: #65b22e;*/
    /*text-transform: uppercase;*/
    margin: 10px 0;
    display: table;
}
#footer-middle .block .content ul li,
.page-partnery  .block-block .content ul li,
#qt-product_tabs-ui-tabs4 ul li,
.page-partnery .views-field-body ul li{
    background: url(../images/item-foot1.png) no-repeat;
    margin: 15px 0;
    padding: 0 0 0 33px;
    display: table;
}
.field-name-body ul li,
#block-block-56 ul li,
.block-block .content ul li {
    background: url(../images/item-foot1.png) no-repeat;
    margin: 10px 0;
    padding: 0 0 0 33px;
    display: table;
}

#content ol {
    counter-reset:li;
    padding-right: 0;
    margin-right: 0;
}
#content ol li,
.page-partnery .views-field-body ol li{
    margin-left: 0;
    position:relative; /* Создаем контекст для позиционирования элементов */
    padding-left: 25px;
    margin: 10px 0;
    display: table;
}
#content ol li:before,
.page-partnery .views-field-body ol li{
    content:counter(li); /* В качестве данных используем счетчик */
    counter-increment:li; /* Увеличиваем значение счетчика на 1 */
    /* Позиционируем и оформляем цифры */
    position:absolute;
    top: -3px;
    left: 5px;
    padding:4px 0;
    text-align:center;
    color: #06b7ed;
}

.node-page .field-name-body ul.clear li,
.node-page .field-name-body ol.clear li {
  background: none;
  color: #383838;
  text-transform: none;
  margin: 10px 0;
  display: list-item;
}
.node-page .field-name-body ul.clear li:before {
  content: '-';
  margin-right: 1em;
  font-weight: bold;
}

#content blockquote {
    background: url(../images/quote.png) 2px center no-repeat;
    padding: 14px 6px 6px 35px;
}
#content blockquote p {
    color: #65b22e;
}

.node-unpublished {
    padding: 5px;
}

table {
    width: 100%;
    margin-bottom: 1em;
    border: 1px solid #E9E9E9;
    color: #4f4f4e;
  clear: both;
}
tbody {
    border: none;
}
td, th{
    border: none;
    padding: 17px 17px;
    font-weight: normal;
}
td.active {
    background: transparent;
}
table th {
    background: #fff;
    /*text-transform: uppercase;*/
}
table tr:first-child td,
table tr:first-child th {
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
}
/*th:nth-child(2n) {*/
    /*background: #e9e9e9;*/
/*}*/
/*td:nth-child(2n) {*/
    /*background: rgba(225, 225, 225, 0.3);*/
/*}*/
tr {
    background-color: #fff;
}
tr:nth-child(2n) {
    background-color: #fff;
}
th, td {
    border-left: 1px solid #ddd;
}
tr th:first-child, tr td:first-child  {
    border: 0;
}
td:nth-child(odd), th:nth-child(odd) {
    color: #517e08;
}


#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer,
#slider,
#footer-wrapper .section,
#footer-middle .section
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


/*------------------------------------------*/
/*-----------------------HEADER-------------*/
/*------------------------------------------*/

.header-top {
    width:100%;
    /*height:160px;*/
    /*background: #26b;*/
    /*color: #fff;*/
    /*position:fixed;*/
    /*top:0;*/
    /*left:0;*/
    /*z-index: 100;*/
}
#slider.for-tiny, .not-front #main.for-tiny {
    padding-top: 150px;
}
.tiny {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: #f9ffd1 url("../images/background.jpg") fixed center 0 no-repeat;
    /*-webkit-box-shadow: 0 0 10px #000;*/
    /*-moz-box-shadow: 0 0 10px #000;*/
    /*box-shadow: 0 0 10px #000;*/
    /*transition: height 400ms;*/
    z-index: 101;
    background-size: cover;
}
.tiny .header-top {
    height: auto;
}
.tiny .header-bottom {
    top: 3px;
}
.header-top #block-block-17 {
    display: none;
}
.tiny #block-block-17 {
    display: block;
    position: absolute;
    top: 16px;
    left: 400px;

}

.tiny #logo, .tiny #block-block-1, .tiny #block-block-2 {
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*height: 0;*/
    display: none;
    /*display: none;*/
    margin-bottom: 0px;
}
.tiny #block-block-3 {
    margin: 5px 0;
}



@media (max-width: 1000px) {

    #slider.for-tiny, .not-front #main.for-tiny {
        padding-top: 0;
    }
    .tiny {
        position: static;
        left: 0;
        right: 0;
        background: none;
        /*transition: height 400ms;*/
    }
    .header-top.tiny {
        height:200px;
    }
    .tiny #logo, .tiny #block-block-1, .tiny #block-block-2 {
        display: block;
        margin-bottom: 10px;
    }
    .tiny #block-block-3 {
        margin: 10px 0;
    }
    .tiny #block-block-17 {
        display: none;
    }
    .tiny .header-top {
        height: 200px;
    }
}






#name-and-slogan {
    height: 0;
}
#site-name {
    text-indent: -9999px;
    height: 0;
}
#header .section{
    /*font-family: 'Roboto Condensed', sans-serif;*/
    position: relative;
}
#header-l, #header-r {
    width: 50%;
    float: left;
}
#logo {
    position: absolute;
    top: 9px;
    left: 50%;
    right: 50%;
    margin-left: -123px;
    z-index: 1;
    display: block;
    width: 247px;
    /*height: 182px;*/
}
#block-block-1, #block-block-3, #block-block-4, #block-block-2, #block-block-18  {
    float: left;
    width: 400px;
    margin: 10px 0;
    color: #008b3a;
}
#block-block-4 {
    margin: 8px 0;
}
#block-block-2, #block-block-18, #block-system-user-menu, #block-block-5, #block-commerce-cart-cart {
    float: right;
}
#block-block-2 .content {
    float: right;
}


/*#block-block-5*/
#block-block-5 {
    text-transform: uppercase;
    font-size: 16px;
    color: #00893A;
    margin-right: 45px;
    margin-top: 15px;
}
#block-block-5 .content a {
    color: #00893A;
}
.entry_head {
    background: url(../images/log_in-.png) 0 0 no-repeat;
    padding-left: 25px;
}

/*-----user-menu-----*/
#block-system-user-menu {
    margin-right: 70px;
    margin-top: 15px;
}
#block-system-user-menu li.first {
    margin-right: 20px;
}
#block-system-user-menu ul.menu li {
    float: left;
    text-transform: uppercase;
}
#block-system-user-menu ul.menu li a {
    font-size: 16px;
    color: #00893A;
}

/*#block-commerce-cart-cart*/

#block-commerce-cart-cart {
    clear: both;
    margin-top: 15px;
}
#block-commerce-cart-cart .cart-empty-block {
    margin-bottom: 20px;
}
#block-commerce-cart-cart .wrap-link-cart-head, #block-commerce-cart-cart .cart-empty-block {
    font-size: 16px;
    text-transform: uppercase;
    color: #00893A;
    margin-right: 100px;
}
/*#block-commerce-cart-cart .cart-empty-block {*/
    /*margin-top: 10px;*/
/*}*/
#block-commerce-cart-cart .cart-contents .link-cart-head {
    color: #00893A;
    /*text-decoration: underline;*/
    font-size: 20px;
    line-height: 1;
    display: inline-block;
    border-bottom: 2px solid #00893A;
    margin: 0 3px;
    text-decoration: none;
}
#block-commerce-cart-cart .cart-contents .link-cart-head:hover {
    border-color: transparent;
}
#block-commerce-cart-cart .cart-contents .right a, #block-commerce-cart-cart .cart-contents .left a  {
    font-size: 12px;
    color: #03b1e9;
    text-decoration: underline;
    /*text-transform: none;*/
}
#block-commerce-cart-cart .cart-contents .right a:hover,
#block-commerce-cart-cart .cart-contents .left a:hover,
#block-views-my-flags-block .view-id-my_flags a:hover,
.node-type-consultation-experts .views-field-nothing a:hover,
.view-display-id-block_3.product-page-style .views-field-comments-link a:hover {
    text-decoration: none;
}
#block-commerce-cart-cart .cart-contents .left {
    float: left;
    margin-left: -80px;
}
#block-commerce-cart-cart .cart-contents .right {
    float: right;
    margin-right: 35px;
}
/*flag*/
#block-views-my-flags-block {
    float: right;
    clear: both;
    margin-top: -22px;
    margin-right: 190px;
}
#block-views-my-flags-block .view-id-my_flags a {
    font-size: 12px;
    color: #03b1e9;
    text-decoration: underline;
}
/*.not-logged-in #block-views-my-flags-block  {*/
    /*margin-right: 94px;*/
    /*margin-top: 0;*/
/*}*/





/*--.top-menu-header--*/
.top-menu-header a {
    color: #88c62e;
    margin-left: 18px;
}
    .top-menu-header a:first-child {
        margin-left: 0;
    }
    .top-menu-header a:hover {
        color: #06b7ed;
    }

/*oper-time*/
.oper-time {
    margin-right: 35px;
}
    .oper-time:first-child {
        margin-left: 0;
    }
    .sup {
        vertical-align: top;
        font-size: 11px;
    }

/*contact-block*/

.contact-block-l, .contact-block-r  {
    width: 124px;
    float: left;
    padding-left: 56px;
}
.contact-block-l {
    background: url(../images/velcom.png) 0 0 no-repeat;
}
.contact-block-r {
    background: url(../images/mts.png) 0 0 no-repeat;
    margin-left: 15px;
}
#block-block-4 {
    font-size: 14px;
}
#block-block-4 .content a,
.commerce_shipping .description a,
.search-block-tab .views-field-nothing a,
.search-block-tab .views-field-view-node a {
    color: #05b3eb;
    text-decoration: underline;
    font-size: 12px;
}
.contact-block-l  a {
    /*float: right;*/
    margin-right: 25px;
}
#block-block-4 a:hover,
.commerce_shipping .description a:hover,
.search-block-tab .views-field-nothing a:hover,
.search-block-tab .views-field-view-node a:hover{
    text-decoration: none;
}

/*header-bottom MENU*/
#header .header-bottom ul li {
    list-style: none;
    background: none;
    margin: 0;
    padding: 0;
}
.header-bottom {
    /*margin-top: 250px;*/
    background: url(../images/bg-nav.png) center top no-repeat;
    height: 56px;
    line-height: 56px;
    min-width: 1000px;
    position: relative;
    z-index: 2;
}

ul li.leaf {
    list-style: none;
}
ul.menu li {
    margin: 0
}

li.expanded, li.collapsed, li.leaf {
    padding: 0;
}

#header .header-bottom .menu li {
    float: left;
    margin-left: 33px;
}
.header-bottom .menu li a {
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
}
#header .header-bottom .menu li:first-child {
    margin-left: 16px;
}


/*megamenu*/
.tb-megamenu {
    background-color: transparent;
}

.tb-megamenu .nav > li > a {
    padding: 0;
    font-weight: normal;
    padding: 0 14px 0 15px;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
    border: 0px;
}
.tb-megamenu .nav > li > a:focus, .tb-megamenu .nav > li > a:hover,
.tb-megamenu .nav li.dropdown.open > .dropdown-toggle {
    background: none;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
    text-decoration: underline;
}
.tb-megamenu .nav > .active > a, .tb-megamenu .nav > .active > a:hover, .tb-megamenu .nav > .active > a:focus {
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
    background: none;
}
.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background: none;
    text-decoration: underline;
}

.tb-megamenu .dropdown-submenu > .dropdown-menu.akcii-m,
.tb-megamenu .dropdown-submenu > .dropdown-menu.konkursy-m  {
    margin-top: -128px;
    margin-right: 9px;
}
.tb-megamenu .dropdown-submenu > .dropdown-menu.konkursy-m {
    margin-top: -159px;
}
.tb-megamenu .mega-nav > li a, .tb-megamenu .dropdown-menu .mega-nav > li a {
    padding: 5px 10px;
}
.tb-megamenu .dropdown-menu .mega-nav > li:first-child a {
    padding: 5px 10px;
}
.tb-megamenu .mega-inner {
    padding: 0 !important;
}





/*slideshow*/
#slider {
    position: relative;
    margin-top: -4px;
    z-index: 1;
}


.view-id-slideshow {
    position: relative;
}
.view-id-slideshow .views-slideshow-pager-field-item {
    float: left;
    width: 333px;
}
.view-id-slideshow  .views-content-field-preview {
    line-height: 0;
}
.view-id-slideshow .views-slideshow-pager-field-item {
    position: relative;
}
.view-id-slideshow img, .view-id-slideshow .views-field-field-img-slaid .field-content {
    line-height: 0;
}
.view-id-slideshow .views-slideshow-controls-bottom  .views-field-field-text,
.view-id-slideshow .views-slideshow-controls-bottom  .views-content-title {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    /*width: 333px;*/
    text-align: center;
    color: #ffffff;
    /*background: red;*/
    width: 333px;
    font-size: 18px;
    padding-top: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0, 0.5);
    cursor: pointer;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
}
.view-id-slideshow .views-slideshow-controls-bottom {
    border-radius: 13px;
    position: absolute;
    bottom: -8px;
    z-index: 100;
}
#views_slideshow_pager_field_item_bottom_slideshow-block_0 {
    /*width: 334px;*/
}
#views_slideshow_pager_field_item_bottom_slideshow-block_0 .views-field-field-text,
#views_slideshow_pager_field_item_bottom_slideshow-block_0 .views-content-title {
    background: rgba(65, 171, 1, 0.5);
    border-radius: 13px 0 0 13px;
}
#views_slideshow_pager_field_item_bottom_slideshow-block_0.active .views-field-field-text,
#views_slideshow_pager_field_item_bottom_slideshow-block_0.active .views-content-title,
#views_slideshow_pager_field_item_bottom_slideshow-block_0 .views-content-title:hover {
    background: rgba(65, 171, 1, 0.8);
}
#views_slideshow_pager_field_item_bottom_slideshow-block_0 img {
    border-radius: 13px 0 0 13px;
}
#views_slideshow_pager_field_item_bottom_slideshow-block_1 .views-field-field-text,
#views_slideshow_pager_field_item_bottom_slideshow-block_1 .views-content-title {
    background: rgba(226, 83, 74, 0.5);
}
#views_slideshow_pager_field_item_bottom_slideshow-block_1.active .views-field-field-text,
#views_slideshow_pager_field_item_bottom_slideshow-block_1.active .views-content-title,
#views_slideshow_pager_field_item_bottom_slideshow-block_1 .views-content-title:hover {
    background: rgba(226, 83, 74, 0.8);
}
#views_slideshow_pager_field_item_bottom_slideshow-block_2 .views-field-field-text
#views_slideshow_pager_field_item_bottom_slideshow-block_2 .views-content-title {
    background: rgba(50, 217, 232, 0.5);
    border-radius: 0px 13px 13px 0px;
    width: 334px;
}
#views_slideshow_pager_field_item_bottom_slideshow-block_2.active .views-field-field-text,
#views_slideshow_pager_field_item_bottom_slideshow-block_2.active .views-content-title,
#views_slideshow_pager_field_item_bottom_slideshow-block_2 .views-content-title:hover {
    background: rgba(50, 217, 232, 0.8);
    border-radius: 0px 13px 13px 0px;

}
#views_slideshow_pager_field_item_bottom_slideshow-block_2 .views-field-field-text,
#views_slideshow_pager_field_item_bottom_slideshow-block_2 .views-content-title {

}
#views_slideshow_pager_field_item_bottom_slideshow-block_2 img {
    border-radius: 0px 13px 13px 0px;
}


.view-id-slideshow {
    position: relative;
    padding-bottom: 8px;
    margin-bottom: 13px;
}
.views-slideshow-cycle-main-frame-row .views-field-field-text,
.views-slideshow-cycle-main-frame-row .views-field-title-1 {
    position: absolute;
    right: 0;
    top: 15px;
    font-family: 'roboto_condensedbold_italic';
    width:553px;
    height: 110px;
    text-align: center;
    padding-top: 35px;
    padding-left: 40px;
    z-index: 10;
}
.views-slideshow-cycle-main-frame-row .views-field-field-text a,
.views-slideshow-cycle-main-frame-row .views-field-title-1 a {
    color: #fff;
    font-size: 30px;
}
.views-slideshow-cycle-main-frame-row .views-field-field-text a:hover,
.views-slideshow-cycle-main-frame-row .views-field-title-1 a:hover {
    text-decoration: none;
}
#views_slideshow_cycle_div_slideshow-block_0 .views-field-field-text,
#views_slideshow_cycle_div_slideshow-block_0 .views-field-title-1 {
    background: url("../images/slid-title-bg1.png") no-repeat;
}
#views_slideshow_cycle_div_slideshow-block_1 .views-field-field-text,
#views_slideshow_cycle_div_slideshow-block_1 .views-field-title-1 {
    background: url("../images/slid-title-bg2.png") no-repeat;
}
#views_slideshow_cycle_div_slideshow-block_2 .views-field-field-text,
#views_slideshow_cycle_div_slideshow-block_2 .views-field-title-1 {
    background: url("../images/slid-title-bg3.png") no-repeat;
}
.views-slideshow-cycle-main-frame-row .views-field-field-slider-link,
.views-slideshow-cycle-main-frame-row .views-field-view-node {
    position: absolute;
    width: 201px;
    height: 53px;
    top: 144px;
    right: 0;
    z-index: 5;
    text-align: center;
    padding-top: 10px;
}
.views-slideshow-cycle-main-frame-row .views-field-field-slider-link a,
.views-slideshow-cycle-main-frame-row .views-field-view-node a {
    color: #e4ec00;
    font-family: 'roboto_condensedbold_italic';
    text-transform: uppercase;
    font-size: 22px;
}
#views_slideshow_cycle_div_slideshow-block_0 .views-field-field-slider-link,
#views_slideshow_cycle_div_slideshow-block_0 .views-field-view-node {
    background: url(../images/slid-more-bg1.png) 0 0 no-repeat;
}
#views_slideshow_cycle_div_slideshow-block_1 .views-field-field-slider-link,
#views_slideshow_cycle_div_slideshow-block_1 .views-field-view-node {
    background: url(../images/slid-more-bg2.png) 0 0 no-repeat;
}
#views_slideshow_cycle_div_slideshow-block_2 .views-field-field-slider-link,
#views_slideshow_cycle_div_slideshow-block_2 .views-field-view-node {
    background: url(../images/slid-more-bg.png) 0 0 no-repeat;
}

/*------------------------------------------*/
/*----------BREADCRUMB----------------------*/
/*------------------------------------------*/

.breadcrumb {
    color: #88c624;
    padding: 22px 0 10px;
}
.breadcrumb span a {
    color: #00893a;
    /*text-decoration: underline;*/
    font-size: 12px;
    display: inline-block;

}
.breadcrumb span a:hover {
    text-decoration: none;
    border-bottom: 1px solid #00893a;
}

/*------------------------------------------*/
/*---------------CONTENT--------------------*/
/*------------------------------------------*/
#main-wrapper, #footer-wrapper {
    background: url(../images/bg-main.png) center top repeat-y;
    min-width: 1000px;
}
#main-wrapper {
    margin-top: -4px;
    padding-top: 4px;
    width:100%;
    overflow-x: hidden;
    padding-bottom: 100px;
}
/*.not-front .node-page, .not-front .node,*/
/*.view-news.view-display-id-page,*/
/*.overall-style-news.view-display-id-page,*/
.not-front.page-node .region-content,
.bg-main,
.page-partnery .region-content,
.page-comment .region-content {
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
    border-radius: 5px;
    padding: 20px;
    /*margin-bottom: 20px;*/
}
.page-node.page-node-125 .region-content, .page-node.page-node-93 .region-content {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}

.wrap-category-inner .category-inner, .wrap-category-inner .category-inner-even {
    width: 360px;
    height: 190px;
    margin: 0 15px 15px 0;
    float: left;
    position: relative;
}
.wrap-category-inner .category-inner-even {
    margin-right: 0;
}


.node a, .region-footer-middle a {
    color: #06b7ed;
    text-decoration: underline;
}
.node a:hover, .region-footer-middle a:hover {
    text-decoration: none;
}


.node-page .field-name-field-image img,
.overall-style-news img,
.overall-style-news img,
.node .field-name-field-image img,
.node-helpful .field-type-image img,
.node-type-kids .field-type-image img,
.node .field-name-field-discounts-img img,
.node-type-product .view-product-page .views-field-field-helpful-img img {
    float: left;
    border-radius: 12px;
    margin: 0 25px 15px 0;

}

#block-views-front-products-block {
    padding-left: 150px;
    position: relative;
    left: -150px;
}
.panda {
    background: url(../images/panda.png) 40px 210px no-repeat;
}

.link-wrapper .comment-add a {
    font-size: 16px;
    color: #e59529;
    text-transform: uppercase;
    text-decoration: underline;
    float: right;
}
.link-wrapper .comment-add a:hover,
.node-type-consultation-experts .views-field-comments-link a:hover,
.blog-style .view-header a:hover,
.blog-style h2 .library-download:hover {
    text-decoration: none;
}


/*news*/

.overall-style-news .view-header {



    position: relative;
}
.content > .overall-style-news > .view-content {
    border-top: 1px solid #cfec9f;
    padding-top: 10px;
    margin-top: 5px;
}
 .content > .view-stock.overall-style-news > .view-content {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cfec9f;
}
.page-discounts  .content > .overall-style-news > .view-content {
    padding-top: 20px
}


 .overall-style-news .view-header .views-row:before{
    content: "Свежачок";
    display: block;
    position: absolute;
    top: -5px;
    right: 0;
    color: #06b7ed;;
    font-size: 24px;
    /*text-transform: uppercase;*/
}
.overall-style-news .view-header .views-field-title,
.overall-style-news .view-header .views-field-nothing {
    padding-right: 120px;
}
.overall-style-news .view-header .views-field-title a,
.overall-style-news .view-header .views-field-nothing .field-content h3 a {
    font-size: 20px;
    color: #65b22e;
    text-transform: uppercase;
}

.overall-style-news  .view-header .views-field-created{
    padding: 10px 0;
}

.overall-style-news .view-header .views-field-view-node a{
    color: #E2A127;
    /*text-transform: uppercase;*/
}



.overall-style-news .view-content .views-field-title h3,
.overall-style-news .view-content .views-field-nothing h3,
.overall-style-news .view-content .views-field-nothing h3 a {
    font-size: 14px;
    margin-bottom: 0;
}

.overall-style-news .view-content .views-field-title a,
.overall-style-news .view-content .views-field-nothing h3 a {
    color: #65b22e;
}

.overall-style-news .view-content .views-field-created {
    font-size: 12px;
    margin: 2px;
}

/*.node-type-consultation-experts*/
#block-quicktabs-pediatrician-consultation {
    font-family: 'roboto_condensedregular', sans-serif;
}
.node-type-consultation-experts .view-pediatrician-consultation .views-field-field-experts-img img {
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}
#quicktabs-pediatrician_consultation .ui-tabs-nav,
#quicktabs-psychologists_block .ui-tabs-nav {
    margin: 0 -20px;
}
#quicktabs-pediatrician_consultation .ui-tabs-nav li:first-child,
#quicktabs-psychologists_block .ui-tabs-nav li:first-child {
    border-left: 1px solid #cfec9f;
}
.node-type-consultation-experts .container-konsult {
    overflow: hidden;
    margin: 20px 0;
    position: relative;
    font-family: 'roboto_condensedregular', sans-serif;
}
.node-type-consultation-experts #quicktabs-pediatrician_consultation  .views-field-comments-link,
.node-type-consultation-experts #quicktabs-pediatrician_consultation  .views-field-nothing,
.node-type-consultation-experts #quicktabs-psychologists_block .views-field-comments-link,
.node-type-consultation-experts #quicktabs-psychologists_block .views-field-nothing {
    position: absolute;
    bottom: 0;
    right: 0;
}
.node-type-consultation-experts #quicktabs-pediatrician_consultation  .views-field-comments-link a,
.node-type-consultation-experts #quicktabs-psychologists_block .views-field-comments-link a {
    font-size: 16px;
    color: #e59529;
    text-transform: uppercase;
    text-decoration: underline;
    /*float: right;*/
}
.not-logged-in.node-type-consultation-experts #quicktabs-pediatrician_consultation  .views-field-comments-link a,
.not-logged-in.node-type-consultation-experts #quicktabs-pediatrician_consultation  .views-field-comments-link a {
    text-transform: none;
}
#comments, .partner {
    font-family: 'roboto_condensedregular', sans-serif;
}
.view-comments-block
.ui-tabs .ui-tabs-nav li a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.not-logged-in.node-type-consultation-experts #quicktabs-pediatrician_consultation .views-field-comments-link,
.not-logged-in.node-type-consultation-experts #quicktabs-psychologists_block  .views-field-comments-link,
.not-logged-in.node-type-product .views-field-comments-link{
    display: none;
}
.logged-in.node-type-consultation-experts #quicktabs-pediatrician_consultation .views-field-nothing,
.logged-in.node-type-consultation-experts #quicktabs-psychologists_block .views-field-nothing {
    display: none;
}
.node-type-consultation-experts #quicktabs-pediatrician_consultation .views-field-nothing a,
.node-type-consultation-experts #quicktabs-psychologists_block .views-field-nothing a{
    color: #e59529;
    text-decoration: underline;
}

/*--------------------------------------------*/
/*-------------- SIDEBAR------------------*/
/*--------------------------------------------*/
.one-sidebar #content {
    float: left;
    width: 735px;
}
.one-sidebar #sidebar-second {
    float: left;
    width: 245px;
    padding-left: 20px;
}
.front #sidebar-second {
    padding-top: 73px;

}
.one-sidebar .view-id-reviews .views-field-comment-body  {
    background: url(../images/comment-bg.png) 0 0 no-repeat;
    width: 210px;
    height: 148px;
}
.sidebar h2, .sidebar h2 a {
    font-size: 26px;
}



/*view-reviews*/
.view-reviews {
    color: #383838;
}
.view-id-reviews .comm-top {
    color: #05b3eb;
}
.view-id-reviews .comm-top a {
    color: #05b3eb;
}
.view-id-reviews .views-field-created .field-content {
    display: block;
    float: right;
}
.one-sidebar .views-field-comment-body {
    clear: both;
    padding: 27px 22px;
}
.views-field-comment-body h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 15px;
}
.view-id-reviews .views-row-2 {
    position: relative;
}
.view-id-reviews .views-row-2 .views-field-comment-body:before {
    content: '';
    display: block;
    width: 165px;
    height: 184px;
    background:  url(../images/img-sb.png) 0 0px no-repeat;
    position: absolute;
    top: 25px;
    right: -60px;
}


/*view-display-id-block*/
.view-id-news.view-display-id-block {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
    padding: 5px 0;
    position: relative;
}

.view-id-news.view-display-id-block .views-row {
    padding: 10px;
    background:  url(../images/news-line.png) repeat-x;
}
.view-id-news.view-display-id-block:before {
    content: "";
    display: block;
    width: 72px;
    height: 75px;
    background:  url(../images/img-sb.png) 0 -194px no-repeat;
    position: absolute;
    bottom: 0px;
    left: -10px;
}
.view-id-news.view-display-id-block .views-row-first {
    background: none;
}
.view-id-news.view-display-id-block .views-field-created {
    color: #65b22e;
    padding-bottom: 5px;

}
.view-id-news.view-display-id-block a {
    color: #383838;
}
.view-id-news .more-link a {
    text-transform: uppercase;
    margin-right: 15px;
    text-decoration: underline;
    margin: 20px 15px 25px 0;
    display: inline-block;
    font-size: 15px;
}
.view-id-news .more-link a:hover {
    text-decoration: none;
}

/*sidebar*/
.not-front .region-sidebar-second #block-block-6 {
    margin-top: 60px;
}
.menu-style-sidebar {
    margin-top: 62px;
}
.not-front .menu-style-sidebar + #block-block-6,.not-front #block-views-catalog-terms-block-3 + #block-block-6 {
    margin-top: 0;
}
/*--------------------------------------------*/
/*--------------------FOOTER------------------*/
/*--------------------------------------------*/

#block-block-11 {
    background:  url(../images/burro.png) 0 100px no-repeat;
}
#block-block-11 {
    padding-left: 90px;
    position: relative;
    left: -87px;
}
/*footer-middle*/
#footer-wrapper {
    color: #4c4a4f;
    margin-top: -100px;
}
#footer-middle {
    padding-bottom: 10px;
}
#block-block-12 {
    color: #4c4a4f;
    font-size: 14px;
    /*font-family: 'roboto_condensedlight';*/
    margin: 0 15px;
}

/*footer-bottom*/
#footer {
    overflow: hidden;
    padding-top: 20px;
}
#footer .section {
    background:  url(../images/line-footer.png) 0 0 repeat-x;
    padding: 15px 0;
}

#block-block-13 {
    width: 176px;
    height: 164px;
    float: left;
    margin-left: 54px;
    margin-bottom: 11px;
}
#block-block-14 {
    float: left;
    padding-left: 35px;
    width: 264px;
    margin-bottom: 50px;
}
#block-block-15, #block-block-16, #block-menu-menu-footer-menu {
    float: right;
    width: 430px;
    margin-bottom: 11px;
    margin-top: 5px;
}
#block-block-15 {
    font-size: 16px;
    margin-left: 20px;
    color: #373737;
}
#block-block-16 {
    font-size: 14px;
    color: #00893a;
}
#block-block-15 .content, #block-block-16 .content {
    margin-left: 10px;
}
#block-block-16 .content a {
    font-size: 12px;
    color: #383838;
    text-decoration: underline;
}
#block-block-16 .contact-block-l  a {
    margin-right: 22px;
}
#block-block-16 .content a:hover {
    text-decoration: none;
}
#block-menu-menu-footer-menu {
    width: 430px;
}
#block-menu-menu-footer-menu .content ul li {
    margin: 0;
    padding: 0;
    background: none;
    float: left;
    font-size: 14px;
    /*font-family: 'roboto_condensedlight';*/
    margin-right: 30px;
}
#block-menu-menu-footer-menu .content ul li:first-child {
    margin-right: 50px ;
}
#block-menu-menu-footer-menu .content a {
    color: #4c4a4f;
}
#block-menu-menu-footer-menu .content a:hover {
    color: #65b22e;
}



/*socsety*/

.soc-networks {
    position: fixed;
    top: 50px;
    right: 0;
    width: 42px;
    z-index: 200;
}
.soc-networks .content a {
    display: block;
    width: 40px;
    height: 42px;
    border-left: 2px solid #e61c46;
    border-radius: 4px 0 0 4px;
    background: #f9f5e9 url(../images/soc-networks.png) 5px 5px no-repeat;
}

#header #block-block-60 li {
    list-style: none;
    list-style: none;
    margin-bottom: 10px;
}
.soc-networks .content .search {
    margin-bottom: 30px;
    background: #05b2ea url(../images/soc-networks.png) 5px -236px no-repeat;
}

.soc-networks .content .vk {
    background-position: 5px -36px;
}
.soc-networks .content .tvitter {
    background-position: 5px -77px;
}
.soc-networks .content .youtube {
    background-position: 5px -118px;
}
.soc-networks .content .google {
    background-position: 5px -157px;
}
.soc-networks .content .instagram {
    background-position: 5px -198px;
}



/*partner*/
.view-parthners-captions .view-header {
    margin: 0 -20px;
}

.ui-tabs {
    padding: 0;
    position: relative;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: 0;
    padding-bottom: 0;
}

.ui-tabs-nav {
    padding: 0 20px;
}

.ui-widget-content {
    border: none;
}
.ui-widget-header {
    border: 0;
    background: #e9fbcc;
    border-radius: 0;
}

#quicktabs-product_tabs .quicktabs-tabs li.active a:before,
.ui-tabs .ui-tabs-nav li.ui-tabs-active a:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: transparent transparent #fff transparent ;
    position: absolute;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin-left: -10px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #e9fbcc;
    border: none;
    border-radius: 0;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: #cfec9f;
    border: none;
    border-radius: 0;
}

.ui-tabs .ui-tabs-nav li.views-row-first {
    border-left: 1px solid #cfec9f;
}

.ui-tabs .ui-tabs-nav li {
    border-right: 1px solid #cfec9f;
    margin: 0;
}

.ui-tabs .ui-tabs-nav {
    padding: 0 20px !important;
}
.ui-tabs .ui-tabs-nav li a {
    padding: 18px 14px;
}
.view-header .ui-widget a {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    text-transform: uppercase;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #b3d183;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #65b22e;
}
.ui-tabs .ui-tabs-panel {
    padding: 0;
}

.partner .views-field-body {
    display: none;
}
.partner.open .views-field-body,
.partner.open .more-partner-hide{
    display: block;
}
.partner.open .more-partner-link {
    display: none;
}
.partner .more-partner-hide {
    display: none;
}
.partner .more-partner {
    padding-left: 246px;
}



/*sravnenie*/
.view-product-page.product-page-style.view-display-id-block_1{
    padding-bottom: 150px;
}
.view-product-page.view-display-id-block_1 .delivery-container,
 .view-product-page.product-page-style .delivery-container{
    bottom: 150px;
}
.view-product-page.product-page-style .views-field-commerce-price,
 .view-product-page.product-page-style .views-field-commerce-price .commerce-price-discont{
    bottom: 220px;
 }
 .view-product-page.product-page-style .views-field-status,
  .view-product-page.product-page-style .views-field-field-status-customer{
    bottom: 280px;
  }
.view-product-page.product-page-style .views-field-add-to-cart-form{
    bottom: 295px;
}
.view-product-page.product-page-style .views-field-php {
  bottom: 235px;
}
.view-product-page.product-page-style .click {
  bottom: 180px;
}

.view-product-page.product-page-style .view-footer{
      position: absolute;
  bottom: 0;
    width: 100%;
}


.view-product-page.product-page-style .wrap_compare{
  overflow: hidden;
  padding: 20px;
  line-height: 1.6em;
}

.view-product-page.product-page-style span.flag-wrapper.flag-compare{
  text-align: center;
  width: 20%;
    text-transform: uppercase;
  font-size: 12px;
  float: left;
}
#quicktabs-product_tabs .view-product-page.product-page-style span.flag-wrapper.flag-compare a{
color: #88c624;
cursor: pointer;
}
.view-product-page.product-page-style .buttoncompare-wrapper-more > div{
    color: #88c624;
    text-transform: uppercase;
    font-size: 12px;
}
.view-product-page.product-page-style .buttoncompare-wrapper-more{
  text-align: center;
  width: 40%;
  float: left;
}
#quicktabs-product_tabs .view-product-page.product-page-style .buttoncompare-wrapper-more > a{
color: #88c624;
cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
}
.view-product-page.product-page-style .buttoncompare-wrapper-more ul.prodcompare-wrapper-more{
  padding-left: 25%;
  text-align: left;
}
.view-product-page.product-page-style .buttoncompare-wrapper-more ul.prodcompare-wrapper-more a{
    position: relative;
    font-size: 15px;
}
.view-product-page.product-page-style .buttoncompare-wrapper-more ul.prodcompare-wrapper-more a:before{
    content: '';
    position: absolute;
    display: block;
    left: -30px;
    top: 0;
    width: 24px;
    height: 24px;
    background: url(../images/compare-footer.png) 0 0 no-repeat;

}
.view-product-page.product-page-style .buttoncompare-wrapper-more ul.prodcompare-wrapper-more a:hover:before{
    background: url(../images/compare-footer.png) -24px 0 no-repeat;
}


.view-product-page.product-page-style .wrap_compare ul.prodcompare-wrapper-one li{
      text-align: center;
  width: 33%;
  float: left;
}
#quicktabs-product_tabs .view-product-page.product-page-style .wrap_compare ul.prodcompare-wrapper-one li a{
color: #88c624;
cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
}
/*colorbox*/
#cboxWrapper .view-product-page.view-display-id-page_1{
padding-bottom: 170px;
}
#cboxWrapper .view-product-page.view-display-id-page_1 .wrap_compare {
  line-height: 1.2em;
  padding: 5px 5px 10px 5px;
}

#cboxWrapper .view-product-page.view-display-id-page_1 .delivery-container{
    bottom: 95px;
}
#cboxWrapper .view-product-page.view-display-id-page_1 .views-field-commerce-price,
#cboxWrapper .view-product-page.view-display-id-page_1 .views-field-commerce-price .commerce-price-discont{
    bottom: 165px;
 }
 #cboxWrapper .view-product-page.view-display-id-page_1 .views-field-status,
  #cboxWrapper .view-product-page.view-display-id-page_1 .views-field-field-status-customer{
    bottom: 225px;
  }
#cboxWrapper .view-product-page.view-display-id-page_1 .views-field-add-to-cart-form{
    bottom: 240px;
}
#cboxWrapper .view-product-page.view-display-id-page_1 .views-field-php {
  bottom: 180px;
}
#cboxWrapper .view-product-page.view-display-id-page_1 .click {
  bottom: 125px;
}
#cboxWrapper .view-product-page.product-page-style .buttoncompare-wrapper-more > div{
    font-size: 11px;
}
#cboxWrapper .view-product-page.view-display-id-page_1 .prodcompare-wrapper-one a,
#cboxWrapper .view-product-page.view-display-id-page_1 .buttoncompare-wrapper-more > a,
 #cboxWrapper .view-product-page.view-display-id-page_1 span.flag-wrapper.flag-compare a{
  font-size: 11px;
  text-transform: uppercase;
  color: #88c624;
  cursor: pointer;
}
#cboxWrapper .view-product-page.view-display-id-page_1 .buttoncompare-wrapper-more li a {
  font-size: 10px;
  color: #222;
}
#cboxWrapper .view-product-page.view-display-id-page_1 .buttoncompare-wrapper-more ul.prodcompare-wrapper-more a:before{
    width: 18px;
    height: 18px;
    background-size: cover;

}
#cboxWrapper .view-product-page.view-display-id-page_1 .buttoncompare-wrapper-more ul.prodcompare-wrapper-more a:hover:before{
      background: url(../images/compare-footer.png) -18px 0 no-repeat;
    background-size: cover;
}

#cboxWrapper .view-product-page.view-display-id-page_1 .view-footer ul{
    padding-left: 15%;
}
#cboxWrapper .view-product-page.view-display-id-page_1 .view-footer li{
      list-style: none;
}



/*--- Reviews (comments) ---*/
#comments > .comment, .view-comments-block .comment {
  border-top: 1px solid #cfec9f;
}
.comment {
  padding: 10px 5px 10px;
}
.comment.comment-unpublished {
  background-color: #e5e5e5;
}
.indented {
  margin-left: 100px;
}
.comment .comment-head {
  margin-bottom: 5px;
}
  .comment .comment-head .comment-author {
    float: left;
    margin-right: 20px;
    color: #00893a;
  }
  .comment .comment-head .comment-date {
    float: right;
    color: #00893a;
  }
  .comment .comment-head .comment-rate {
    width: 150px;
    margin: 0 auto;
  }

.comment .comment-author-img {
  width: 80px;
  margin: 0 20px 0 0;
  float: left;
  text-align: center;
}
    .comment .comment-author-img img{
        border-radius: 60px;
    }

.user-picture .new.new-review{
    margin-left: 20px;
}
.comment .comment-content {
  margin-left: 100px;
}
  .comment .comment-content .comment-subject {
    font-size: 16px;
    text-transform: uppercase;
  }
.comment .comment-links-wrapper ul.links {
  float: right;
}
  .comment .comment-links-wrapper ul.links a {
    color: #00893a;
    text-decoration: underline;
  }
  .comment .comment-links-wrapper ul.links .comment-approve a {
    color: #9a0005;
  }

.node-reviews .comment-add a {
    float: right;
}
/*--- reviews modal form ---*/
.node-type-reviews #modalContent #modal-title {
  display: none;
}
.node-type-reviews #modalContent #modal-content {
 padding-top: 0;
}

/*--- FIVE STAR ---*/
div.fivestar-widget .star,
div.fivestar-widget .cancel a,
div.fivestar-widget .star a,
div.fivestar-widget-static .star {
  width: 20px;
  height: 20px;
  background: url(../images/sun.png) no-repeat 0 0;
}

div.fivestar-widget div.hover a,
div.rating div a:hover,
div.fivestar-widget .star span.on,
div.fivestar-widget-static .star span.on {
  background: url(../images/sun.png) no-repeat 0 -20px;
}

div.fivestar-widget .star span.off,
div.fivestar-widget-static .star span.off {
  background: url(../images/sun.png) no-repeat 0 0;
}

div.fivestar-widget div.on a {
  background-position: 0 -40px;
}
.fivestar-static-item .form-item, .fivestar-static-item .form-actions {
    margin-top: 0;
}



/*modal-forms*/

div.modal-forms-modal-content .popups-close {
    background: none;
    width: auto;
    height: auto;
    text-indent: 0;
    text-transform: uppercase;
    color: #585858;
}
div.modal-forms-modal-content .popups-close:hover {
    text-decoration: underline;
}
div.modal-forms-modal-content .modal-title{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: #00893a;
    float: left;
}

div.modal-forms-modal-content .modal-header {
    padding: 20px 20px 0;
}
div.ctools-modal-content .modal-content {
    padding-top: 0
}
.ctools-use-modal-processed > div{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
}
#modal-content .form-item .username {
    color: #e59529;
    text-transform: uppercase;
    margin-left: 10px;
}
#modal-content .field-type-fivestar {
    padding: 10px 0;
}
#modal-content .field-type-fivestar label {
    float: left;
    margin-right: 80px;
}

/*not-logged-in*/

#modal-content label {
    font-weight: normal;
    padding-bottom: 5px;
    display: block;
    text-transform: uppercase;
}
.not-logged-in #modal-content .description {
    padding-top: 4px;
}
.not-logged-in #modal-content .item-list li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.not-logged-in #modal-content .item-list li a {
    color: #05b3eb;
}
.not-logged-in #modal-content .item-list .first {
    float: right;
}
.form-actions {
    clear: both;
    text-align: center;
}
.not-logged-in #modal-content .item-list .last {
    float: left;
}
.modal-forms-modal-content input[type="text"],
.modal-forms-modal-content input[type="password"],
.modal-forms-modal-content textarea {
    width: 100%;
    box-sizing: border-box;
    color: #00893a;
}
.not-logged-in .form-actions {
    padding-top: 20px;
}
.not-logged-in .modal-forms-modal-content input[type="submit"] {
    font-size: 16px;
    text-transform: uppercase;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
    background: #e9fbcc;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
}
textarea {
    resize: none;
}

.form-textarea-wrapper .grippie {
    display: none;
}
input[type="submit"],
#node-2030 #mc_embed_signup .button {
    background: #94cc33;
    color: #fff;
    border: 1px solid #94cc33;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
#node-2030 #mc_embed_signup .button {
    height: auto;
    font-size: inherit;
    line-height: 1;
    font-weight: normal;
    display: inline-block;
    margin-top: 25px;
}
#mc_embed_signup .clear {
    text-align: center;
}
input[type="submit"]:hover,
#node-2030 #mc_embed_signup .button:hover {
    background: none;
    color: #94cc33;
}
#node-2030 #mc_embed_signup div.response {
    width: 94%;
    font-weight: normal;
    margin-top: 0;
    padding-top: 0;
}
#node-2030 #mc_embed_signup input {
    border-color: #eee;
}
#node-2030 #mc_embed_signup .mc-field-group {
    width: 97%;
}
.ctools-modal-content .messages{
    display: none;
}

.link-wrapper {
    float: right;
}
.link-wrapper a {
    color: #e59529;
    /*font-size: 14px;*/
    /*text-transform: uppercase;*/
    text-decoration: underline;
}
.link-wrapper a:hover {
    text-decoration: none;
}

.ctools-modal-content {
    /*height: 100px !important;*/
}

/*--- Colorbox forms ---*/
.region-content .node-webform .field-name-body h2,
#cboxLoadedContent .node-webform > h2,
#node-2030 > h2{
  display: none !important;
}
#cboxLoadedContent {
    overflow: hidden !important;
}
#node-20, #node-109 {
    padding: 10px;
}
#cboxLoadedContent .messages.error {
    display: none;
}
.not-logged-in #cboxLoadedContent .form-actions {
    padding-top: 0px;
}
#cboxLoadedContent .node-webform {
    font: 12px "Lucida Grande", Verdana, Arial, sans-serif;
    font-weight: normal;
}
#cboxLoadedContent .node-webform label {
    font-weight: normal;
    padding-bottom: 5px;
    display: block;
    text-transform: uppercase;
}
#cboxLoadedContent .node-webform h2,
#cboxLoadedContent #mc_embed_signup h2 {
  /*font-family: 'Lobster', cursive;*/
    font: 12px "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: normal;
    color: #00893a;
    /*float: left;*/
    text-shadow: none;
    padding: 0;
    margin-top: 0;
    text-align: center;
}
.webform-component, #cboxLoadedContent .node-webform p {
    clear: both;
}
#cboxLoadedContent input[type="text"],
#cboxLoadedContent  input[type="email"] {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #00893a;
}
#cboxOverlay {
    background: rgb(137, 199, 38) !important;
    opacity: 0.5 !important;
}




/*----------------.view-products-----------------------*/

.product-style > .view-content .views-row {
    height: 330px;
    width: 210px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 10;
    background: #fff;
    border: 2px solid #e8df6e;
    border-radius: 6px;
    margin-left: 32px;
    /*margin-bottom:50px;*/
}
.product-style > .view-content .views-row:hover {
    border-color: #86b149;

}
.product-style > .view-content {
    position: relative;
    left: -32px;
    width: 767px;

}
.product-style > .view-content .views-row:hover {
    height: 410px;
    margin-bottom: -80px;
    z-index: 15;
}
.views-field-field-product-options {
    height: 100px;
    overflow: hidden;
}
.fivestar-widget-static {
    width: 100px;
    margin: 0 auto;
}
.product-style > .view-content .form-item {
    margin: 0;
    padding: 10px 0;
}
.product-style > .view-content .views-field-title,
.product-style > .view-content .views-field-commerce-price,
.product-style > .view-content .views-field-commerce-price-1,
.product-style > .view-content .views-field-body {
    margin: 0 5px;
    text-align: center;
    margin-bottom: 7px;
}
.product-style > .view-content .views-field-title a{
    color: #383838;
}
.product-style > .view-content .views-field-commerce-price,
/*.view-id-product_page.view-display-id-block_5 .commerce-price,*/
/*.product-style > .view-content .views-field-commerce-price .commerce-price-discont,*/
/*.view-recently-read .views-field-commerce-price .commerce-price-discont,*/
.commerce-price, .commerce-price-discont {
    font-size: 23px;
    color: #e3941c;
    font-family: 'roboto_condensedlight';
    /*text-decoration: none;*/
}
.product-style > .view-content .views-field-commerce-price .commerce-price-discont + .commerce-price,
.view-recently-read .views-field-commerce-price .commerce-price-discont + .commerce-price,
.commerce-price-discont + .commerce-price {
    text-decoration: line-through;
    font-size: 14px;
    color: #383838;
}
.product-style > .view-content .views-field-body {
    padding-top: 10px;
    font-size: 12px;
}

.sticker_product {
    position: absolute;
    top: 15px;
    right: -36px;
    z-index: 10;
    width: 73px;
    height: 62px;
}
.node-type-product .sticker_product,
.view-id-product_page .sticker_product {
    left: 170px;
    top: 3px;
    right: 0;
    z-index: 100;
}
.sticker_product .field-content {
    display: block;
    width: 73px;
    height: 62px;
    background: url(../images/sticker_product_2.png);
    text-indent: -9999px;
}
.sticker_product .views-field-field-discount .field-content {
    background-position: 8px 0;
    /*width: 62px;*/
}
.sticker_product .views-field-field-product-eco .field-content {
    background-position: -74px 0;
}
.sticker_product .views-field-field-product-hit .field-content {

    background-position: -170px 0;
}
.sticker_product .views-field-field-product-action .field-content {
    background-position: -268px 0;
}
.sticker_product .views-field-field-product-new .field-content {
    background-position: -364px 0;
}





/*jcarousel*/
.field-slideshow-carousel-wrapper {
    z-index: 10;
}

.item-list ul li {
    margin: 0;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-container-vertical {
    padding: 31px 5px;
}

.product-style > .view-content .field-slideshow-wrapper {
    position: relative;
}
.product-style > .view-content .jcarousel-skin-ie7 {
    position: absolute;
    left: -31px;
    top: -42px;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-item a {
    display: block;
    width: 60px;
    height: 60px !important;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-item,
 .product-style > .view-content .jcarousel-skin-ie7 .jcarousel-item img {
    width: 60px;
    height: 60px !important;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-clip-vertical {
    /*height: 345px;*/
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-container-vertical {
    width: 22px;
    height: 348px;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-clip-vertical {
    width: 64px;
    height: 348px;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-next-vertical, .jcarousel-skin-ie7 .jcarousel-prev-vertical {
    background: url(../images/nav_jcarousel.png) 0 0 no-repeat;
    width: 19px;
    height: 11px;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-next-vertical {
    background-position: 0 -16px;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-container {
    background: #fff;
    border: 2px solid #86b149;
    border-right: none;
    border-radius: 6px 0 0 6px;
}

.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-next-vertical:hover,
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-next-vertical:focus {
    background-position: 0 -16px;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-prev-vertical:hover,
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-prev-vertical:focus {
    background: url(../images/nav_jcarousel.png) 0 0 no-repeat;
}

.product-style > .view-content .jcarousel-skin-ie7 .item-list{
    position: absolute;
    left: -31px;
}


.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-prev-vertical {
    left: -9.5px;
    top: 10px;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-next-vertical {
    left: -9.5px;
    bottom: 10px;
}

.product-style > .view-content .jcarousel-item ,
.product-style > .view-content .jcarousel-item img {
    border-radius: 60px;
}
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-item {
    opacity: 1;
    border: 2px solid #86b149;
}

.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-item:hover,
.product-style > .view-content .jcarousel-skin-ie7 .jcarousel-item:focus {
    border-color: #208e00;
}

/* Signature of content*/
.content-signature {
  clear: both;
  font-style: italic;
  margin: 1em 0;
  color: #89c726;
}

/*--- collapse text ---*/
.collapse-wrapper {
  padding: 1em 0;
  border-bottom: 1px solid #e2e2e2;
}
  .collapse-wrapper .collapse-title {
    padding-left: 20px;
    background: url(../images/collapse-down.png) no-repeat 4px center;
  }
  .collapse-wrapper .collapse-title:hover {
    cursor: pointer;
    text-decoration: underline;
  }
  .collapse-wrapper .collapse-title.processed {
    background-image: url(../images/collapse-up.png);
    font-weight: bold;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(181, 188, 186, 0.75);
    -moz-box-shadow: 0px 3px 3px 0px rgba(181, 188, 186, 0.75);
    box-shadow: 0px 3px 3px 0px rgba(181, 188, 186, 0.75);
    padding-bottom: 0.3em;
  }
  .collapse-wrapper .collapse-text {
    padding: 1em 3em 0;
  }

  /*--- Taxonomy pages ---*/

/*--- Taxonomy big banner ---*/
.view-taxonomy-term .taxonomy-big-banner .views-field-field-category-img-big {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 0;
  position: relative;
}
.views-field-field-category-img-big form {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #86b149;
  opacity: 0.85;
}
.views-field-field-category-img-big form:hover {
  opacity: 1;
}
  .views-field-field-category-img-big form .views-exposed-widgets {
    padding: 0;
    margin: 0;
  }
    .views-field-field-category-img-big form .views-exposed-widgets .views-exposed-widget {
      padding: 0;
      margin: 0;
      float: none;
    }
    .views-field-field-category-img-big form .views-exposed-widgets .views-widget-sort-sort_bef_combine {
      padding: 3px;
      margin: 0 0 2px;
    }
      .views-field-field-category-img-big form .views-exposed-widgets .views-widget-sort-sort_bef_combine label {
        display: block;
        text-align: center;
        margin-bottom: 2px;
        font: normal 0.9em/1em Arial, Helvetica, Sans Serif;
      }
      .views-field-field-category-img-big form .views-exposed-widgets .views-widget-sort-sort_bef_combine select {
        display: block;
        margin: 0 auto;
      }
    .views-field-field-category-img-big form .views-exposed-widgets .views-widget-per-page {
      padding: 3px;
      margin: 0;
      font-size: 12px;
    }
      .views-field-field-category-img-big form .views-exposed-widgets .views-widget-per-page label {
        display: inline-block;
        text-align: center;
        margin-bottom: 2px;
        font: normal 0.9em/1em Arial, Helvetica, Sans Serif;
      }
      .views-field-field-category-img-big form .views-exposed-widgets .views-widget-per-page select {
        display: inline-block;
        font-size: 10px;
      }

/*--- Recently viewed ---*/
.view-recently-read .jcarousel-skin-default .jcarousel-container-horizontal {
  width: 100%;
  height: 255px;
  padding: 0;
  margin-bottom: 20px;
}
.view-recently-read .jcarousel-skin-default .jcarousel-clip-horizontal {
  width: 100%;
}
.view-recently-read .jcarousel-skin-default .jcarousel-item-horizontal {
  width: 150px;
  height: auto;
  background-color: #fff;
  font-family: 'roboto_condensedlight';
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 17px 0 0;
  border: 0;
}
.view-recently-read .item-horizontal {
  width: 140px;
  padding: 5px;
  background-color: #fff;
  font-family: 'roboto_condensedlight';
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 20px 0 0;
  border: 0;
  float: left;
  text-align: center;
}

.view-recently-read .item-horizontal:last-child {
  margin-right: 0;
}
.view-recently-read .views-field-field-product-img {
  width: 140px;
  height: 140px;
}
.view-recently-read .views-field-title {
  margin-bottom: 14px;
}
.view-recently-read .views-field-title a {
  color: #383838;
}
.view-recently-read .views-field-commerce-price {
  color: #65b22e;
  font-size: 24px;
}
.view-recently-read .views-field-commerce-price-1 {
  text-decoration: line-through;
}

/*menu-style-sidebar*/
.menu-style-sidebar .content {
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
    padding: 8px 20px;
    position: relative;
    /*margin-top:62px;*/
    margin-bottom: 20px;
}
.menu-style-sidebar .menu li {
    border-bottom: 1px dashed #c3bdc4;
    padding: 10px 0;
}
.menu-style-sidebar .menu li.last {
    border: 0;
}
.menu-style-sidebar .menu li a {
    color: #383838;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
}




/*blog-style*/
.blog-style {
    overflow: hidden;
}
.blog-style .views-row,
.blog-style .view-header + .view-content .views-row.views-row-first {

    border-top: 1px solid #cfec9f;
    padding: 15px 20px 20px 20px;
    overflow: hidden;
}
.blog-style .views-row.views-row-first {
    border-top: 0;
    padding-top: 0;
}

.blog-style .views-row-first {
    /*border-bottom: 1px solid #cfec9f;*/
}
.blog-style .views-field-title a {
    font-size: 20px;
    color: #65b22e;
    text-transform: uppercase;
}
.blog-style .views-field-nothing a {
    color: #E2A127;
}
.blog-style .view-header p {
    float: right;
}
.blog-style .view-header a,
.blog-style h2 .library-download {
    font-size: 16px;
    color: #e59529;
    text-transform: uppercase;
    text-decoration: underline;
}
.blog-style h2 .library-download {
    float: right;
    font-size: 14px;
    margin-top: 5px;
}
.blog-style .view-content {
    clear: both;
}
.blog-style .views-field-field-blog-img img,
.blog-style .views-field-field-lib-img img,
.blog-style .views-field-field-img-kids img{
    margin: 0 20px 10px 0;
    float: left;
}

.node-blog .meta.submitted .user-picture img {
    width: 34px;
    height: 34px;
    float: left;
    margin-right: 10px;
}
.node-blog .meta.submitted span {
    margin-top: 5px;
    display: inline-block;
}
.node-blog .meta.submitted {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #cfec9f;
    border-top: 1px solid #cfec9f;
}
.node-blog .content {
    clear: both;
    margin-top: 20px;
}
.node-blog .field-type-image img {
    margin: 0 20px 10px 0;
    float: left;
}
.node-blog .blog_usernames_blog {
    display: none;
}
.node-blog .field-name-field-blog-category a {
    color: #e59529;
}
.node-blog .username {
    color: #05b3eb;
}

.page-node-add-blog .text-format-wrapper #edit-body-und-0-format {
    display: none;
}
.page-node-add-blog #blog-node-form .vertical-tabs {
    display: none;
}
.page-node-add-blog .field-edit-link {
    display: none;
}

/*library-download*/





/*parthners*/

.view-parthners-captions  {
    padding-top: 20px;

}
.view-parthners-captions > .view-content .view-content  {
    overflow: hidden;
}
.partner {
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #eceaea;
    padding: 10px 0;
}
.partner.views-row-last {
    border: 0;
}
.partner .views-field-field-image img {
    float: left;
    margin: 0 20px 0 0;
}
.partner .views-field-title {
    font-size: 20px;
    color: #06b7ed;
    margin: 20px 0;
}
.more-partner a {
    color: #e59529;
    text-decoration: underline;
}
.more-partner a:hover {
    text-decoration: none;
}
.more-partner-hide {
    float: right;
}






/*product-style-catalog*/
.product-style-catalog > .view-content .views-row {
    margin-bottom: 50px;
}
.product-style.product-style-catalog > .view-content {
    left: -20px;
}

.product-style-main-catalog .view-taxonomy-term .view-content {
    left: -20px;
}
.product-style-main-catalog .hit-style  h2 {

    margin-left: 240px;
}

.view-taxonomy-term.product-style-catalog .view-empty,
.view-taxonomy-term.product-style .view-empty,
.block-bg-style .content {
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
    border-radius: 5px;
    padding: 20px;
}
/*pager*/

.pager a {
    color: #05b3eb;
}
/*.pager .pager-current {*/
    /*color: #05b3eb;*/
    /*font-weight: bold;*/
    /*text-decoration: underline;*/
/*}*/

/*maintenance-page*/

.maintenance-page #footer-wrapper {
    display: none;
}
.maintenance-page #container {
    margin-top: 300px;
    text-align: center;
}
.maintenance-page #content-content {
    font-size: 16px;
}


/*.modalContent_comment_form*/
.ctools-modal-content.modal-forms-modal-content {
    height: 400px !important;
}

.field-name-field-contactny-mail.clearfix:after {
    display: none !important;
}
.node-type-free .field-name-field-contactny-mail {
    float: none;
    /*display: block;*/
    overflow: hidden;

}



/*.node-type-free .comment-form*/
.node-type-free .modal-forms-modal-content .comment-form #edit-author--2, .node-type-free .form-item.form-type-textfield.form-item-subject {
   width: 50%;
   float: left;
}
.node-type-free .modal-forms-modal-content .field-type-text {
    width: 60%;
    float: left;
    box-sizing: border-box;

}
.node-type-free .field-type-text.field-name-field-contactny-mail {
    padding-right: 10px;
    width: 40%;
}
.node-type-free .form-actions {
    padding-top: 15px;
}
/*end node-type-free .comment-form*/

.modalContent_comment_form_free .modal-forms-modal-content {
    height: 480px !important;
}
.form-managed-file input[type="submit"] {
    padding: 2px 15px;
}
.modalContent_comment_form_free #modal-content {
    height: 580px !important;
}

.modalContent_comment_form_reviews .modal-forms-modal-content {
    height: 500px !important;
}
.modalContent_comment_form_reviews #modal-content {
    height: 500px !important;
}
.modalContent_comment_form #edit-actions {
    margin-top: 30px
}
.modalContent_comment_form_product .modal-forms-modal-content {
    height: 420px !important;
}
.modalContent_comment_form_product #modal-content {
    height: 420px !important;
}

.modalContent_comment_form_product #modal-content .field-type-fivestar label {
    margin-right: 125px;
}


/*stock-active*/
.stock-active {
    /*display: inline-block;*/
    background: rgb( 82, 178, 67) ;
    color: #fff;
    padding: 2px 10px;
    border-radius: 20px 3px 3px 10px;
    float: right;
    margin-right: -25px;
}
.view-footer .stock-active {
    background: #b3b3b3;
}
.overall-style-news .view-header .views-field-nothing .stock-active {
    float: none;
    display: inline-block;
    margin-left: 20px;
}
.view-header + .view-footer .overall-style-news > .view-content {
    padding-top: 20px;
    margin-top: 10px;
    border-top: 1px solid #cfec9f;
}
/*.view-footer .overall-style-news > .view-content {*/
    /*padding-top: 20px;*/
    /*margin-top: 10px;*/
    /*border-top: 1px solid #cfec9f;*/
/*}*/

.blog-none .view-header > p:first-child {
    display: none;
}


/*registration*/
.custom-colo {
    color: #dd5f5f;
}
#edit-field-user-rss #edit-field-user-rss-und {
    float: left;
    margin: 4px 7px 0 0;
}
#edit-field-user-rss .description {
    /*display: inline-block;*/
    margin-left: 5px;
    font-size: 1em;
}
.form-item-smplntspm1 label.option {
    padding-left: 5px;
    text-decoration: underline;
    display: inline;
}
.page-user-register #block-block-56 {
    float: left;
    width: 430px;
    padding-right: 40px;
}
.page-user-register #block-system-main {
    width: 372px;
    float: left;
    padding-left: 60px;
    border-left: 1px solid #ddd;
}
.page-user-register input[type="text"],
.page-user-register input[type="email"],
.page-user-register input[type="password"] {
    width: 350px;
}
.page-user-register .field-name-field-address-shipping input[type="text"] {
    width: 290px;
}
.page-user-register .tabledrag-toggle-weight-wrapper {
    display: none;
}
.page-user-register #field-address-shipping-values {
    margin: 20px 0;
}
.page-user-register #field-address-shipping-values tbody label {
    display: none;
}
a.tabledrag-handle .handle {
    margin: 0;
}
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
    padding-right: 0;
}
.page-user-register label {
    display: block;
    font-weight: normal;
    padding-bottom: 3px;
    text-transform: uppercase;
}


.view-product-page h4 a {
    color: #06b7ed;
}

.logged-in .view-blog-categories-inner .view-header  a,
.view-blog-categories-inner .view-header .field-content{
    float: right;
    margin-bottom: 5px;

}
.view-blog-categories-inner .view-header .field-content a {
    text-transform: none;
    margin-bottom: 5px;
}
.view-blog-categories-inner .view-header {
    /*overflow: hidden;*/

}

/*.subscribe*/

#block-block-57 {
    position: fixed;
    bottom: 10%;
    left: -6px;
    width: 42px;
    height: 242px;
    background: url(../images/subscribe.png) 0 0;
    z-index: 100;
}
#block-block-57:hover {
    left: 0px;
}
.subscribe {
    display: block;
    width: 42px;
    height: 242px;
    text-indent: -9999px;
}

#mc_embed_signup div.mce_inline_error {
    display: none !important;
}
.mce_inline_error {
    border-color: red !important;
}
/*ulogin login*/
.form-type-ulogin-widget > div:before {
    content: 'Через соц.сеть';
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.form-type-ulogin-widget > div:after {
  content: 'или';
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: normal;
  color: #00893a;
  text-align: center;
  position: relative;
  top: 5px;
}
.wrap-registration .form-type-ulogin-widget > div:after {
    content: 'или пройдите регистрацию на сайте';
    display: block;
    font-size: 20px;
    color: #80bd5a;
}

#form .green {
    color: red !important;
}

.ui-widget {
    font-size: 14px;
    font-family: 'roboto_condensedregular', sans-serif;
    color: #383838;
}
.ui-widget-content {
    color: #383838;
}



/*.jcarousel in product*/
/*.view-display-id-block_5 .field-slideshow-wrapper .field-slideshow {
    width: 150px;
    margin: 0 auto;
}*/
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-item {
    border: 2px solid #e8df6e;
    border-radius: 6px;
}
.node-type-product .jcarousel-skin-default .views-field-body {
    font-size: 12px;
    margin: 10px 5px;
}
.view-display-id-block_5 .jcarousel-skin-default .views-field-title {
    margin: 0 5px;
}
/*.view-id-product_page.view-display-id-block_5 .jcarousel-clip {*/
    /*width: 610px;*/
/*}*/
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-skin-default .jcarousel-item {

}
/*.node-type-product .view-id-product_page.view-display-id-block_5 .jcarousel-container {*/
    /*width: 620px;*/
/*}*/
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-item {
    overflow: visible;
}
.view-display-id-block_5 .jcarousel-skin-default .jcarousel-item-horizontal {
    margin: 0 50px;
}
.view-display-id-block_5 .active {
    text-decoration: underline;
}


/*block-block-55 PROFILE*/
#block-block-55 .content ul li {
    display: block;
}
#block-block-55 .content ul li a {
    text-transform: uppercase;
    color: #383838;
}
#block-block-55 .content .active {
    color: #00893a;
    text-decoration: underline;
}

.edit_profile {
    color: #e59529;
    text-decoration: underline;
}
.edit_profile:hover {
    text-decoration: none;
}

.region-content .profile h1 {
    font-size: 20px;
    color: #383838;
}

.view-id-flag_bookmarks.view-display-id-page tbody .views-field-title a {
    color: #000;
}
.view-id-commerce_user_orders tbody a {
    color: #000;
}

.view-id-flag_bookmarks.view-display-id-page thead .views-field-title {
    padding: 0;
}
.view-id-flag_bookmarks.view-display-id-page .views-field-title {
    padding-left: 120px;
    border-right: 1px solid #cfec9f;
}
.view-id-my_ads.view-display-id-page tbody .views-field-subject {
    padding-left: 120px;
}
.view-id-my_ads.view-display-id-page .views-field-subject img {
    float: left;
    margin-left: -110px;
}
.view-id-my_ads.view-display-id-page .views-field-subject a {
    color: #000;
}
.view-id-my_ads tbody .views-field-edit-comment a {
    border-bottom: 1px dashed #05b3eb;
    color: #05b3eb;
    margin-left: 5px;
}
.view-id-my_ads tbody .views-field-edit-comment a:hover {
    border-bottom: 0;
    text-decoration: none;
}

.view-id-flag_bookmarks.view-display-id-page .views-field-add-to-cart-form .flag-bookmarks a, .view-id-flag_bookmarks.view-display-id-page .views-field-add-to-cart-form .form-submit {
    font-family: "roboto_condensedregular",sans-serif !important;
}
.view-id-flag_bookmarks.view-display-id-page .views-field-add-to-cart-form .flag-bookmarks a:hover,
.view-id-flag_bookmarks.view-display-id-page .views-field-add-to-cart-form .form-submit:hover {
    border-bottom: 1px dashed transparent;
    transition: 0;
}
.view-id-flag_bookmarks.view-display-id-page .views-field-add-to-cart-form .form-submit.form-button-disabled:hover {
    border-bottom: 1px dashed #05b3eb;
}

.commerce-price-discont {
    /*text-decoration: line-through;*/
}

.commerce_fieldgroup_pane__group_profile.form-wrapper,
#commerce-shipping-service-ajax-wrapper,
.commerce_fieldgroup_pane__group_payment_transfer.form-wrapper,
.checkout-buttons.form-wrapper{
    width: 470px;
    margin: 0 auto;
}
.commerce_fieldgroup_pane__group_profile.form-wrapper .form-type-textarea textarea{
    width: 470px;
}
.commerce_fieldgroup_pane__group_profile.form-wrapper .form-type-textfield input{
    width: 448px;
}
.checkout-buttons.form-wrapper {
    border: 0;
}
.checkout-buttons.form-wrapper .button-operator {
    margin-left: 10px;
}
#commerce-checkout-form-review .pane-data-full {
    background: #fff;
}

.page-checkout-review .checkout-help {
    margin-bottom: 20px;
}
.page-checkout-review .views-field-commerce-unit-price table {
    border: 0;
}





/*node-type-discounts*/
.node-type-discounts #block-system-main {
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
    border-radius: 5px;
    padding: 20px;
}
.node-type-discounts #page-wrapper .region-content {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
}
.node-type-discounts .region-content h2 {

}

.commerce-price-savings-formatter-prices td,
.commerce-price-savings-formatter-prices {
    border: 0 !important;
}
#block-block-55 td {
    border: 0 !important;
    text-align: center !important;
}

/*view-brand2*/
.view-brand2 {
    /*margin: 0 0 17px 0;*/
    overflow: hidden;
}
.view-brand2 .views-field-field-brend-logo img {
    float: left;
    border: 1px solid #eee;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 17px;
}
.view-brand2 .views-field-field-brend-logo img:hover {
    border-color: #86b149;
}
.view-brand2 .view-content:first-child img {
    /*margin-left: 0;*/
}

/*Barnds page*/
.view-brands-page .views-field-field-brend-logo img {
  float: left;
  border: 1px solid #eee;
  border-radius: 5px;
  margin-left: 5px;
  margin-bottom: 17px;
}
.view-brands-page .views-field-field-brend-logo img:hover {
  border-color: #86b149;
}
.view-brands-page .view-content:after {
  content: "";
  display: table;
  clear: both;
  visibility: hidden;
}
.brands-page-seo-text {
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
}
.brands-page-seo-text .content a,
.brands-page-seo-text .content a:hover,
.brands-page-seo-text .content a:visited {
  color: #05b3eb;
}

/*.product-page-style*/

.product-page-style .delivery-container {
    position: absolute;
    bottom: 0;
    left: 33%;
}
.product-page-style .views-field-nothing-1.delivery-container {
    /*bottom: -20px;*/
    /*z-index: 1000;*/
    /*left: 33%;*/
}

.delivery, .guarantee  {
    background: url(../images/icon_product.png) 0 0 no-repeat;
    padding: 5px 0;
    padding-left: 45px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
}
.guarantee {
    margin-left: 20px;
    background-position: 0 -43px;
    padding-left: 40px;
}
.product-plus,
.product-minus {
    color: #93cc33;
    font-size: 22px;
    display: block;
    text-align: center;
}
.product-minus {
    color: #7f7f7f;
}
.price-amount {
    background: transparent !important;
}

/*.page-bookmarks .commerce-price-discont {*/
    /*font-size: 16px;*/
/*}*/

#jivo_top_wrap .jivo-triangle-wraper .jivo-triangle-clip .jivo-bottom-left-square {
    /*background: red !important;*/
}
#jivo-text-container {
    color: #488413;
}

.component-type-flat-rate-courier-belarus .component-total,
.component-type-flat-rate-pickup .component-total,
.component-type-flat-rate-courier .component-total {
    display: none;
}

/*skip-to-top*/

.skip-top {
    display: none;
    text-align: right;
    z-index: 999;
    margin: 1em auto;
    padding: 0 0 0 0;
    position: fixed;
    bottom: -13px;
    right: 20px;
    font-size: 1.2em;
}
#skip-to-top {
    background: #eee;
    display: block;
    padding: 15px 15px;
    border-radius: 50px;
    box-shadow: inset 0 0 10px rgba(0,0,0, 0.3);
}

#skip-to-top:before {

    color: #E35349;
}
/*subscription*/
#edit-field-subscription label{
    display: inline-block;
    padding-left: 5px;
}
#edit-field-subscription fieldset {
    text-align: center;

}
.page-user-edit #edit-field-subscription {
    clear: both;
    padding-top: 1em;
}

/*brand*/
.view-brand-pages {
    position: relative;
}
.view-brand-pages .view-filters {
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
}
.view-brand-pages .view-header {
    position: absolute;
    top: 16px;
    right: 20px;
}
.view-brand-pages #edit-category {
    padding: 6px;
    width: 200px;
}
#edit-category-wrapper label {
    font-weight: normal;
    padding-bottom: 5px;
    display: block;
    text-transform: uppercase;
    padding-left: 10px;
}
.view-brand-pages .views-exposed-widget {
    padding-top: 0;
    margin-top: -5px;
}

/*#feeds*/
#feeds-import-form {
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
    border-radius: 5px;
    padding: 20px;
}

/*search*/
#quicktabs-search .ui-tabs-nav {
    margin: -20px -20px 0 -20px;
    border-radius: 5px 5px 0;
}
.search-block-tab .views-row {
    padding: 20px 0;
    border-top: 1px solid #cfec9f;
}
.search-block-tab .views-exposed-widgets {
    padding: 20px 0;
}
.search-block-tab .views-field-field-product-img {
    float: left;
    padding: 0 20px 10px;
}
.search-block-tab .views-label {
    font-weight: bold;
}
.search-block-tab .views-field-nothing,
.search-block-tab .views-field-view-node{
    text-align: right;
}
.search-block-tab .views-exposed-widget .form-submit {
    margin-top: 0;
}
.search-block-tab .views-submit-button {
    padding-right: 0;
}
.search-block-tab input[type="text"] {
    width: 535px;
}
.search-block-tab .views-submit-button {
    position: relative;
}
.search-block-tab .views-submit-button .ajax-progress-throbber {
    position: absolute;
    right: -20px;
    top: 10px;
}
.product-style.product-style-catalog > .view-content:after {
    content: " ";
    width: 1px;
    height: 330px;
    background: transparent;
    display: inline-block;
    margin-bottom: 50px;
}


#jivo-label-copyright {
    display: none !important;
}

/*block-bg-style blog*/
.block-bg-style {
    margin-bottom: 20px;
}
.block-bg-style .content a {
    color: #06b7ed;
    text-decoration: underline;
}
.block-bg-style .content a:hover {
    text-decoration: none;
}

#block-views-recently-read-block {
    padding-left: 150px;
    position: relative;
    left: -150px;
    width: 1000px;
}
.zebra {
    background: url(../images/burro.png) 50px 70px no-repeat;
}
#block-views-catalog-terms-block-3,
.menu-style-sidebar {
    width: 245px;
    padding-right: 150px;
    /*position: relative;*/
    /*right: -150px;*/
}
.bucket {
    background: url(../images/bucket.png) 180px 100% no-repeat;
}
.deer {
    background: url(../images/deer.png) right 100% no-repeat;
}
.snowman {
    background: url(../images/snowman.png) 30px 120px no-repeat;
}
.deer-l {
    background: url(../images/deer-l.png) 0px 120px no-repeat;
}
/*view-helpful-categories-inner*/
.view-helpful-categories-inner .helpful-disc {
    border-bottom: 1px solid #cfec9f;
    margin-bottom: 20px;
}
.view-helpful-categories-inner {
    position: relative;
}


/*compare */
.compare-style a {
    color: #65b22e;
    border-bottom: 1px dashed #65b22e;
}
.compare-style a:hover {
    text-decoration: none;
    border-bottom: 0;
}
.product-style-catalog .compare-style {
    text-align: center;
    font-size: 12px;
}
#block-block-65 .content a {
    color: #fff;
    /*border-bottom: 1px dashed #e3941c;*/
    text-transform: uppercase;
    background: #63b31d;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #63b31d;
}
#block-block-65 .content a:hover {
    text-decoration: none;
    color: #63b31d;
    background: transparent;
}
#content {
    position: relative;
}
#block-block-65 {
    position: absolute;
    top: 12px;
    left: 0;
}

.page-user-register .password-strength,
.page-user-register .password-confirm {
    float: right;
    margin-top: 0 !important;
}
.page-user-register .password-suggestions {
    clear: both;
}
.page-user-register .password-parent label {
    float: left;
}
.page-user-register .confirm-parent, .password-parent,
.page-user-register .form-item .password-suggestions {
    width: auto;
}

.page-user-register .wrap-registration .form-item.form-type-ulogin-widget:after{
    
}


/*.company-dev */
.region-footer{
    position: relative;
}
.company-dev {
  position: absolute;
    top: 140px;
    left: 267px;

}
.company-dev .content a {
  background: url(../images/company-dev.png) 0 0 no-repeat;
  width: 145px;
  padding: 3px 0 3px 25px;
  display: block;
  margin-top: -4px;
  font-family: sans-serif;
  font-size: 11px;
}
.company-dev p {
  line-height: 1;
}
.company-dev a {
  color: #7f7f7f;  
}
.copyright {
  float: left;
}
.dev-color-one {
  color: #104c56;
}
.dev-color-two {
  color: #139fd7;
}


/*------exposed-filter-on-category--------------------*/

.view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form {
padding-left: 20px;
background: rgba(237, 237, 237, 0.5);
}
.view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form .form-type-bef-link a{
color: #383838;
}
 .view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form .form-type-bef-link a.active,
 .view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form .form-type-bef-link.selected a{
color: #00893A;
}
.view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form .views-widget-per-page{
    width: 280px;
    float: right;
}
.view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form .views-widget-per-page .form-type-bef-link:last-child{
    margin-right: 0;
}
.view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form .views-widget-sort-sort_bef_combine label{
    margin-right: 20px;
}
.view-taxonomy-term.product-style-catalog .view-header form .views-widget-sort-sort_bef_combine{
    width: 400px;
    margin-right: 20px;
    padding-right: 0;
}
 .view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form label{
float: left;
margin-right: 30px;
 }
 .view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form .form-radios{
float: left;
position: relative;
/* width: 200px; */
/*text-align: right;*/
}

 .view-taxonomy-term.product-style-catalog .view-header form .views-exposed-form .form-type-bef-link{
float: left;
margin-right: 15px;
}