#compare-products-table .headers {
    float: left;
    width: 200px; 
    position: relative;
}
#compare-products-table .prods {
    display: inline;
    float: right;
    overflow-x: auto;  
    width: 800px;  
    position: relative;
}
#compare-products-table .headers table,
#compare-products-table .prods table{
	border-collapse: separate;
	border-spacing: 0;
	margin-bottom: 0;
}
#compare-products-table .headers table{
	border-right: 0;
}
#compare-products-table .prods table{
	border-left: 0;
}

#compare-products-table .headers table tr th{
	color: #859f58;
	border: 0;

}

#compare-products-table .headers table tr.perv th{
	background-color: #e9e9e9;
	border-left: 1px solid #d3e9a0;
	border-right: 1px solid #d3e9a0;
}
#compare-products-table .headers table tr.vtor th{
	background-color: #edf7de;
	border-left: 1px solid #d3e9a0;
	border-right: 1px solid #d3e9a0;
}


#compare-products-table .prods table td{
	color: #4e5746;
	border: 0;
}
#compare-products-table .prods table tr.perv td{
	background-color: #f1f1f1;
	border-left: 1px solid #d3e9a0;
	
}
#compare-products-table .prods table tr.vtor td{
	background-color: #f5ffe4;
	border-left: 1px solid #d3e9a0;
	
}
#compare-products-table .prods table td,
#compare-products-table .headers table th{
}

#compare-products-table .headers table tr:first-child td,
#compare-products-table .headers table tr:first-child th,
#compare-products-table .prods table tr:first-child td,
#compare-products-table .prods table tr:first-child th{
	border: 0;

}

#compare-products-table tr td{
    position: relative;
}
#compare-products-table .flag-wrapper{
    position: absolute;
    top: 20px;
    right: 30px;
}
#compare-products-table .flag-wrapper a{
display: block;
width: 20px;
height: 20px;
background: url(../images/unflag20x20.png) center center no-repeat;
border-radius: 20px;

text-indent: 150%;
overflow: hidden;
}

#compare-products-table .prods table td{
text-align: center;
width: 266px;

}


#compare-products-table .prods table .tr_title a{
    color: #323232;
    font-size: 15px;
}


.view-compare-products{
	position: relative;
	margin-bottom: 20px;
}

.view-compare-products .view-header{
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 1;
}
.view-compare-products .view-header a{
	color: #8fcb1b;
	text-decoration: underline;
	text-transform: uppercase;
}

.view-compare-products .view-header a:hover{
	text-decoration: none;
}



.output_compare .jspArrow.jspArrowLeft{
	    display: block;
    width: 30px;
    height: 40px;
    background: url(../images/arr_compare.png) 0 0 no-repeat;
    cursor: pointer;
      position: absolute;
  left: 0;
  top: 0;
}
.output_compare .jspArrow.jspArrowRight{
	    display: block;
    width: 30px;
    height: 40px;
    background: url(../images/arr_compare.png) -30px 0 no-repeat;
    cursor: pointer;
      position: absolute;
  right: 0;
  top: 0;
}

.output_compare .jspArrow.jspArrowLeft:hover{
background: url(../images/arr_compare.png) 0px -40px no-repeat;
}
.output_compare .jspArrow.jspArrowRight:hover{
background: url(../images/arr_compare.png) -30px -40px no-repeat;
}


.view-compare-products > .view-footer{
  position: relative;
  top: -4px;
  background: #fff;
  padding: 20px;
  overflow: hidden;
    line-height: 40px;
}

.output_compare{
  position: relative;
  float: right;
  text-transform: uppercase;
  font-size: 12px;
  color: #87c921;
  padding: 0 30px;
}


.jspContainer .jspPane{
	margin-left: 0 !important;
	width: 100% !important;
}











/*jsPane*/

.jspContainer
{
	overflow: hidden;
	position: relative;
	min-height: 100%;
}

.jspPane
{
	position: absolute;
	margin: 0;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;

	display: none;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: red;
	  z-index: 1000;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: #e5e5e5;
	position: relative;
}

.jspDrag
{
	background: #87c921;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #87c921;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #87c921;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 0;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}