.views-widget-filter {
  &-field_type_tid {
    @include pie-clearfix;
    label {
      display: none;
    }
    img {
      float: left;
      width: 140px;
      height: auto;
      border: 1px solid #eee;
      border-radius: 5px;
      margin-left: 5px;
      margin-bottom: 17px;
      &:hover {
        border-color: #86b149;
      }
    }
    .active {
      img {
        border-color: #86b149;
      }
    }
    .description {
      display: none;
    }
  }
}
