.commerce-price-savings-formatter-list {
  .price-amount {
    text-align: right;
  }
}
.commerce-price-savings-formatter-price {
  .price-amount {
    white-space: nowrap;
    &.--byr {
      font-size: 0.86em;
      margin-top: -0.5em;
      margin-bottom: -0.5em;
      line-height: 1.2em;
      text-align: right;
      color: #666;
    }
  }
}
.views-field-commerce-total.price {
  font-size: 16px;
  white-space: nowrap;
  .price__item {
    &.--byr {
      font-size: 0.86em;
      margin-top: -0.5em;
      margin-bottom: -0.5em;
      line-height: 1.2em;
      text-align: right;
      color: #666;
    }
  }
}
.view-commerce-cart-summary {
  .component-total {
    white-space: nowrap;
  }
}