.product-style {
  > .view-content {
    .views-field-title {
      line-height: 1.15em;
    }
    .field-slideshow {
      width: 150px;
      height: 150px !important;
      margin: 0 auto 10px;
    }
    .views-field-nothing {
      position: absolute;
      top: 175px;
      left: 38px;
      z-index: 52;
      background: rgba(32, 142, 0, 0.7);
      border-radius: 4px;
      width: 130px;
      text-align: center;
      font-size: 12px;
      padding: 5px;
      @include box-shadow(1px 1px 3px 0 rgba(50,50,50,0.5));
      a {
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}
/*Product teaser*/
.commerce-price,
.commerce-price-discont {
  font-size: 23px;
  color: #e3941c;
  font-family: 'roboto_condensedlight';
  text-decoration: none;
  white-space: nowrap;

  &.price__item.--byr {
    color: #999;
    font-size: 0.75em;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    line-height: 1.2em;
    text-align: right;
  }
}

.commerce-price-discont {
  + .commerce-price {
    text-decoration: line-through;
    font-size: 14px;
    color: #383838;
  }
}

.price__item {
  &.--byn {
    ont-size: 23px;
    color: #e3941c;
    font-family: 'roboto_condensedlight';
    text-decoration: none;
    white-space: nowrap;
  }
  &.--byr {
    color: #999;
    font-size: 0.75em;
    margin-top: -0.5em;
    margin-bottom: -0.5em;
    line-height: 1.2em;
    text-align: right;
  }
}