.menu-sidebar-catalog {
  background: #ffffff; //TODO: move to color vars
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  padding: 8px 20px;
  position: relative;
  margin-bottom: 20px;
  .item-menu-sidebar-catalog {
    border-bottom: 1px dashed #c3bdc4; //TODO: move to color vars
    padding: 10px 0;
    > .views-field-name {
      a {
        color: #383838; //TODO: move to color vars
        font-size: 16px;
        text-transform: uppercase;
        display: block;
      }
    }
    > .item-list {
      ul {
        margin: 10px 0 0 20px;
        a {
          color: #383838; //TODO: move to color vars
          display: inline-block;
          padding: 1px 0;
          &.active {
            color: $dark-green;
            text-decoration: underline;
          }
        }
      }
    }
    &.last {
      border: 0;
    }
    &.active-parent {
      > .views-field-name {
        a {
          color: $dark-green;
          text-decoration: underline;
        }
      }
    }
  }
}