#quicktabs {
  &-product_tabs {
    padding: 0;
    position: relative;
    .quicktabs-tabs {
      border: 0;
      background: $bg-green;
      border-radius: 0;
      padding: 0 20px;
      li {
        display: list-item;
        list-style: none;
        float: left;
        position: relative;
        top: 0;
        border-bottom-width: 0;
        padding: 0;
        white-space: nowrap;
        background: $bg-green;
        border: none;
        border-radius: 0;
        border-right: 1px solid #cfec9f; //TODO: move to color vars
        margin: 0;
        a,
        a:link,
        a:visited {
          color: $green;
          padding: 18px 14px;
          float: left;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
        }
        &.active {
          margin-bottom: 0;
          padding-bottom: 0;
          background: #cfec9f;
          border: none;
          border-radius: 0;
        }
      }
      &:before,
      &:after {
        content: "";
        display: table;
        border-collapse: collapse;
        height: 0;
      }
      &:after {
        clear: both;
      }
    }
    .quicktabs_main {
      padding: 17px;
      min-height: 385px;
      color: #383838; //TODO: move to color vars
      font-size: 14px;
      font-family: 'roboto_condensedregular', sans-serif;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      display: block;
      border-width: 0;
      background: #fff; //TODO: move to color vars
      a {
        color: #222; //TODO: move to color vars
      }
      input {
        font-family: Verdana, Arial, sans-serif;
      }
      .view-dom-id-4 {
        ul {
          li {
            background: url(../images/item-foot1.png) no-repeat;
            margin: 15px 0;
            padding: 0 0 0 33px;
            display: table;
          }
        }
      }
      .views-field-comments-link {
        a {
          color: #e59529; //TODO: move to color vars
          font-size: 16px;
          text-decoration: underline;
          text-transform: uppercase;
        }
      }
    }
  }
}